<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game3-1.css' %}">
        <script type="text/javascript" src="{% static 'js/game3-1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
    </head>
    <body onload="load();">
        <button onclick="start();" id="start">スタート</button>
				<img src="{% static 'game/Ctrl_U.png' %}" id="U">
				<img src="{% static 'game/Ctrl_W.png' %}" id="W">
			<div id="yatta">
				<img src="{% static 'game/clear-window.gif' %}" id="clear-window">
				<a href="http://localhost:8080/stage3-1/nextstory3-1/" target="story3-1"><button onclick="mapclick2(8)"; id="clear">次の話</button></a>
			</div>
			<div id="back">
				<div id="box">
					<div id="buttons">
						<input type="image" src="{%static 'game/pushblock.png'%}" id="button1" onclick="se();onClick1();">
						<input type="image" src="{%static 'game/pushblock2.png'%}" id="mine1" onclick="se();mine(1);gameover();"><br>
						<input type="image" src="{%static 'game/pushblock.png'%}" id="button2" onclick="se();onClick2();">
						<input type="image" src="{%static 'game/pushblock2.png'%}" id="button3" onclick="se();nat(1);"><br>
						<input type="image" src="{%static 'game/pushblock2.png'%}" id="button4" onclick="se();nat(2);">
						<input type="image" src="{%static 'game/pushblock.png'%}" id="mine2" onclick="se();mine(2);gameover();"><br>
						<input type="image" src="{%static 'game/pushblock.png'%}" id="button5" onclick="se();nat(3);">
						<input type="image" src="{%static 'game/pushblock2.png'%}" id="mine3" onclick="se();mine(3);gameover();">
					</div>
					<div id="chara">
						<img id="left" src="{% static 'game/pushleft.gif' %}">
						<img id="right" src="{% static 'game/pushright.gif' %}">
					</div>
					<div id="mine"><img src="{% static 'game/mine.png' %}"></div>
					<div id="item1"><img src='{% static 'game/orbpice1.png'%}'></div>
					<div id="item2"><img src='{% static 'game/orbpice2.png'%}'></div>
			</div>

	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/3-1.2.m4a' %}";
			setTimeout(roop, 130000);
		}
	</script>
    </body>
</html>
