<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story3-1.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">この近くにオーブがあるに違いないわ！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">うわさによると、火のオーブは４つにわかれてしまったらしいの</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">だから、４つ全部見つけてくっつけないといけないわ！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">ここのどれかの岩の下にあるはず！　ワナもあるから気をつけて！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">岩は左クリックをすることでどかすことができるわ！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">オーブの場所はソースコードに図でヒントがあるみたい。</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">ソースコードとは、プログラムのことよ。</p>
        <p class="text8" id="text8Id"><img src="{% static 'game/fairy.png' %}">コントロールキーとUキーでソースを開く。</p>
        <p class="text9" id="text9Id"><img src="{% static 'game/fairy.png' %}">コントロールキーとWキーでソースを閉じることができるわ！</p>
    </div>
  </body>
</html>
