<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory3-2.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">これで火のオーブのカケラが４つそろったわ！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">なんとか集まったね！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">でも、こんなバラバラな状態じゃ・・・</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">大丈夫！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">私が合成魔法を教えるわ！ とりあえず、場所を移動しましょ！</p>
    </div>

    <div class="button">
        <a href="http://localhost:8080/stage3-3" target="_parent" class="next-button">次のステージへ</a>
    </div>

  </body>
</html>
