<!DOCTYPE html>
<html>
<!--!>
	________________
	|_@__|____|____|
	|____|____|____|
	|____|____|____|
	|_@__|____|____|

<!--!>
  <head lang="ja">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" typw="text/css" href="{% static 'css/mori.css' %}">


    <title>3-2 始まりの森</title>
  </head>
  <frameset rows="100,*"border="5"bordercolor="#000">
    <frame src="head3-2">
    <frameset cols="50%,50%">
      <frame src="story3-2" name="story3-2">
      <frame src="game3-2">
    </frameset>
  </frameset>
</html>
