<!DOCTYPE html>
<html>
	<head lang='ja'>
		<meta charset='UTF-8'>
		{% load static %}
		<link rel='stylesheet' type='text/css' href="{% static 'css/opening.css' %}">

		<div class="kyoku"><iframe src="{% static 'sound/op.m4a' %}"></iframe></div>

		<body>



		<div class='opening'>
            <img id="open" src=''>
		</div>

		<div class='textboard'>
			<p class='text1' id='text1'><font color='green'>リト:</font>僕の名前はリト、ごく普通の小学四年生！</p>
			<p class='text2' id='text2'><font color='green'>リト:</font>10歳の誕生日プレゼントにお父さん、お母さんからパソコンを買ってもらうんだ！</p>
		</div>
        <script>

			one();
            roop();

            function roop(){
                document.getElementById("music").src="{% static 'game/opening.m4a' %}";
                setTimeout(roop,17000);
            }

			function one(){
                document.getElementById("open").src="{% static 'game/opening/main-actor500.gif' %}";

				setTimeout(two,11000);
			}
			function two(){
				document.getElementById("open").src="{% static 'game/opening/black.png' %}";
				document.getElementById("text1").className="text3";
				document.getElementById("text1").innerHTML="ピンポーン";
				document.getElementById("text2").className="text4";
				document.getElementById("text2").innerHTML="宅配便でーす！";

				setTimeout(three,5000);
			}
			function three(){
				document.getElementById("open").src="{% static 'game/opening/sironeko500.png' %}";
				document.getElementById("text1").className="text5";
				document.getElementById("text1").innerHTML="<font color='white'>白猫宅配便:</font>こちら荷物になりますね〜！";
				document.getElementById("text2").className="text6";
				document.getElementById("text2").innerHTML="<font color='green'>リト:</font>はい、ありがとうございます！";

				setTimeout(four,8000);
			}
			function four(){
				document.getElementById("open").src="{% static 'game/opening/black-display.png' %}";
				document.getElementById("text1").className="text7";
				document.getElementById("text1").innerHTML="<font color='green'>リト:</font>やった！　パソコンだ！　早速電源つけてみよう！";
				document.getElementById("text2").className="text8";
				document.getElementById("text2").innerHTML="<font color='green'>リト:</font>ん？様子が変・・";

				setTimeout(five,6000);
			}
			function five(){
				document.getElementById("open").src="{% static 'game/opening/pc-display-on.gif' %}";

				setTimeout(six,3000);
			}
			function six(){
				document.getElementById("open").src="{% static 'game/opening/fairy-appear.gif' %}";
				document.getElementById("text1").className="text9";
				document.getElementById("text1").innerHTML="ｻﾞｻﾞｰｰｰｰｻﾞｰｰｰｰ";
				document.getElementById("text2").className="text10";
				document.getElementById("text2").innerHTML="ﾀｽ･･･ｹ･･････ﾃ･････";

				setTimeout(seven,4000);
			}
			function seven(){
				document.getElementById("open").src="{% static 'game/opening/pc-off.gif' %}";

				setTimeout(eight,3000);
			}
			function eight(){
				document.getElementById("open").src="{% static 'game/opening/black-display.png' %}";
				document.getElementById("text1").className="text11";
				document.getElementById("text1").innerHTML="<font color='green'>リト:</font>ん？　今変な声が聞こえたような・・・";
				document.getElementById("text2").innerHTML="";

				setTimeout(nine,4000);
			}
			function nine(){
				document.getElementById("open").src="{% static 'game/opening/black.png' %}";
				document.getElementById("text1").className="text12";
				document.getElementById("text1").innerHTML="<font color='orange'>お母さん:</font>リトーご飯よー降りてきなさーい";
				document.getElementById("text2").className="text13";
				document.getElementById("text2").innerHTML="<font color='green'>リト:</font>はーい！　うーん。。まぁ気にしなくていっか・・・";
				setTimeout(ten,9000);
			}
			function ten(){
				document.getElementById("open").src="{% static 'game/opening/black.png' %}";
				document.getElementById("text1").className="text14";
				document.getElementById("text1").innerHTML="<font color='orange'>お母さん:</font>ご飯食べたら今日はもう寝なさい。";
				document.getElementById("text2").className="text15";
				document.getElementById("text2").innerHTML="<font color='green'>リト:</font>うん！おやすみなさい！";

				setTimeout(eleven,8000);
			}
			function eleven(){
				document.getElementById("open").src="{% static 'game/opening/sleep.png' %}";
				document.getElementById("text1").className="text16";
				document.getElementById("text1").innerHTML="<font color='green'>リト:</font>zzZ   zzZ   ";
				document.getElementById("text2").innerHTML="";

				setTimeout(twelve,3000);
			}
			function twelve(){
				document.getElementById("open").src="{% static 'game/opening/pc-on.gif' %}"

				setTimeout(thirteen,3000);
			}
			function thirteen(){
				document.getElementById("open").src="{% static 'game/opening/sandstorm.gif' %}"

				setTimeout(fourteen,3000);
			}
			function fourteen(){
				document.getElementById("open").src="{% static 'game/opening/light-up-pc.gif' %}"
			}



		</script>

	</body>
</html>

