<!DOCTYPE html>
<html>
        {% load static %}
    <head>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/game4-1.css" %}">
            <meta charset="UTF-8">
    </head>
    <body>
            <canvas id="canvas"></canvas>
                    <div id='button' class="cross-layout">
                        <input type="button" id="top" value='￪'></input>
                        <input type="button" id="left" value='￩'></input>
                        <input type="button" id="bottom" value='￬'></input>
                        <input type="button" id="right" value='￫'></input>
                        <input type="submit" id="action" value="調べる" onclick="win_open()"disabled >
                        <input type="submit" id="action2" value="入力" onclick="input()"disabled>


                 <script type="text/javascript" src="{% static "js/game4-1.js" %}">

                </script>
    </body>
</html>
