<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/game4-1.css" %}">
        <meta charset="utf-8">
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script type='text/javascript'>
            //上ボタンの処理
            function topbutton (){
                var input1 = $('#input1').val()
                if (input1 == '2 3'||input1 == '2 4'||input1 == '2 5'||input1 == '2 6'||input1 == '2 7'||input1 == '2 8'||input1 == '2 9'||input1 == '2 10'||input1 == '2 11'||input1 == '2 12'||input1 == '2 13'||input1 == '2 14'||input1 == '2 15'||input1 == '2 16'||input1 == '2 17'||input1 == '2 18'||input1 == '2 19'||input1 == '9 2'||input1 == '9 3'||input1 == '9 4'||input1 == '9 5'||input1 == '9 6'||input1 == '9 7'||input1 == '9 8'||input1 == '9 9'||input1 == '9 10'||input1 == '9 11'||input1 == '9 12'||input1 == '9 13'||input1 == '9 14'||input1 == '9 15'||input1 == '9 16'||input1 == '9 17'||input1 == '12 4') {
                    document.maru.src="{% static "game/character/top.gif" %}";
                } else {
                    //方向キー入力時キャラ移動
                    var h = $('#maru').css('grid-row');
                    h = (parseInt(h) - 1).toString();
                    $('#maru').css('grid-row', h);
                    //方向キー入力時のキャラの画像変更&座標出力
                    document.maru.src="{% static "game/character/top.gif" %}";
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    //調べるボタンの入力切り替え
                    if ($("#input1").val() == '12 4') {
                        $("#action").prop("disabled", false);
                    } else {
                        $("#action").prop("disabled", true);
                    }
                    if ($("#input1").val() == '12 2') {
                        $("#action2").prop("disabled", false);
                    } else {
                        $("#action2").prop("disabled", true);
                    }
                }
            }
            //下ボタンの処理
            function bottombutton(){
                var input1 = $('#input1').val()
                if (input1 == '3 2'||input1 == '3 3'||input1 == '3 4'||input1 == '3 5'||input1 == '3 6'||input1 == '3 7'||input1 == '3 8'||input1 == '3 9'||input1 == '3 10'||input1 == '3 11'||input1 == '3 12'||input1 == '3 13'||input1 == '3 14'||input1 == '3 15'||input1 == '3 16'||input1 == '3 17'||
                    input1 == '10 4'||input1 == '10 5'||input1 == '10 6'||input1 == '10 7'||input1 == '10 8'||input1 == '10 9'||input1 == '10 10'||input1 == '10 11'||input1 == '10 12'||input1 == '10 13'||input1 == '10 14'||input1 == '10 15'||input1 == '10 16'||input1 == '10 17'||input1 == '10 18'||input1 == '10 19'||input1 == '12 2'||input1 == '12 3'||input1 == '12 4' )  {
                    document.maru.src="{% static "game/character/bottom.gif" %}";
                } else {
                    var h = $('#maru').css('grid-row');
                    h = (parseInt(h) + 1).toString();
                    $('#maru').css('grid-row', h);
                    document.maru.src="{% static "game/character/bottom.gif" %}"
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    if ($("#input1").val() == '12 4') {
                        $("#action").prop("disabled", false);
                    } else {
                        $("#action").prop("disabled", true);
                    }
                    if ($("#input1").val() == '12 2') {
                        $("#action2").prop("disabled", false);
                    } else {
                        $("#action2").prop("disabled", true);
                    }
                }
            }
            //右ボタンの処理
            function rightbutton(){
                var input1 = $('#input1').val()
                if (input1 == '1 2'||input1 == '2 19'||input1 == '3 19'||input1 == '4 19'||input1 == '5 19'||input1 == '6 19'||input1 == '7 19'||input1 == '8 19'||input1 == '9 19'||input1 == '10 19'
                    ||input1 == '11 3'||input1 == '12 4'||input1 == '13 2') {
                    document.maru.src="{% static "game/character/right.gif" %}";
                } else {
                    var w = $('#maru').css('grid-column');
                    w = (parseInt(w) + 1).toString();
                    $('#maru').css('grid-column', w);
                    document.maru.src="{% static "game/character/right.gif" %}"
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    if ($("#input1").val() == '12 4') {
                        $("#action").prop("disabled", false);
                    } else {
                        $("#action").prop("disabled", true);
                    }
                    if ($("#input1").val() == '12 2') {
                        $("#action2").prop("disabled", false);
                    } else {
                        $("#action2").prop("disabled", true);
                    }
                }
            }
            //左ボタンの処理
            function leftbutton(){
                var input1 = $('#input1').val()
                if (input1 == '1 2'||input1 == '2 2'||input1 == '3 2'||input1 == '4 18'||input1 == '5 18'||input1 == '6 18'||input1 == '7 18'||input1 == '8 18'||input1 == '9 2'||input1 == '10 2'||input1 == '11 2'||input1 == '12 2'||input1 == '13 2') {
                    document.maru.src="{% static "game/character/left.gif" %}";
                } else {
                    var h = $('#maru').css('grid-column');
                    h = (parseInt(h) - 1).toString();
                    $('#maru').css('grid-column', h);
                    document.maru.src="{% static "game/character/left.gif" %}";
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    if ($("#input1").val() == '12 4') {
                        $("#action").prop("disabled", false);
                    } else {
                        $("#action").prop("disabled", true);
                    }
                    if ($("#input1").val() == '12 2') {
                        $("#action2").prop("disabled", false);
                    } else {
                        $("#action2").prop("disabled", true);
                    }
                }
            }

            // ページ読み込み時に実行
            window.onload = function () {
                // 矢印ボタンのを各、値に代入
                var $left = document.getElementById( "left" );
                var $right = document.getElementById( "right" );
                var $top = document.getElementById( "top" );
                var $bottom = document.getElementById( "bottom" );
                obj = document.getElementById('input1');
                $top.onmousedown = function ( $event ) {

                    //上ボタンのクリック
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function top2(idname){
                                topbutton()
                            },
                            108//1秒間に108/120回繰り返す
                        );
                    }
                }
                // マウスアップイベント（ボタンを放した時のイベント）にイベントハンドラをバインド
                $top.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                    }
                }

                //下ボタンのクリック
                $bottom.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function bottom(idname){
                                bottombutton()
                            },
                            108
                        );
                    }
                }
                $bottom.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }

                //右ボタンのクリック
                $right.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function right(){
                                rightbutton()
                            },
                            108
                        );
                    }
                }
                $right.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }

                //左ボタンのクリック
                $left.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function left(){
                                leftbutton()
                            },
                            108
                        );
                    }
                }
                $left.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }
            }



            // キーコード(どのキーが押されたか)を取得
            window.addEventListener("keydown", handleKeydown);
            function handleKeydown(event){
                var keyCode = event.keyCode;
                // 条件文で制御する

                //上キーの入力
                if (keyCode == 38) {
                    topbutton()
                }

                //下キーの入力
                if (keyCode == 40) {
                    bottombutton()
                }

                //右キーの入力
                if (keyCode == 39) {
                    rightbutton()
                }

                //左キーの入力
                if (keyCode == 37) {
                    leftbutton()
                }
            }
            //調べるボタンのHTML表示とサイズ指定
            function win_open(){
                window.open("http://localhost:8080/stage4-1/see4-1","","width=200,height=200");
            }
            //入力ボタンのHTML表示とサイズ指定
            function input(){
                window.open("http://localhost:8080/stage4-1/input4-1","","width=200,height=200");
            }


        </script>
    </head>
    <body>
        <div class="canvas">
            <div id="maru">
                <img src="{% static "game/character/bottom.gif" %}" name="maru">
            </div>
            <div id="canvas1"></div>
            <div id="canvas2"></div>
            <div id="canvas3"></div>
            <div id="canvas4"></div>
            <div id="canvas5"></div>
            <div id="canvas6"></div>
            <div id="canvas7"></div>
            <div id="canvas8"></div>
            <div id="canvas9"></div>
            <div id="canvas10"></div>
            <div id="canvas11"></div>
            <div id="canvas12"></div>
            <div id="canvas13"></div>
            <div id="canvas14"></div>
            <div id="canvas15"></div>
            <div id="canvas16"></div>
            <div id="canvas17"></div>
            <div id="canvas18"></div>
            <div id="canvas19"></div>
            <div id="canvas20"></div>
            <div id="canvas21"></div>
            <div id="canvas22"></div>
            <div id="canvas23"></div>
            <div id="canvas24"></div>
            <div id="canvas25"></div>
            <div id="canvas26"></div>
            <div id="canvas27"></div>
            <div id="canvas28"></div>
            <div id="canvas29"></div>
            <div id="canvas30"></div>
            <div id="canvas31"></div>
            <div id="canvas32"></div>
            <div id="canvas33"></div>
            <div id="canvas34"></div>
            <div id="canvas35"></div>
            <div id="canvas36"></div>
            <div id="canvas37"></div>
            <div id="canvas38"></div>
            <div id="canvas39"></div>
            <div id="canvas40"></div>
            <div id="canvas41"></div>
            <div id="canvas42"></div>
            <div id="canvas43"></div>
            <div id="canvas44"></div>
            <div id="canvas45"></div>
            <div id="canvas46"></div>
            <div id="canvas47"></div>
            <div id="canvas48"></div>
            <div id="canvas49"></div>
            <div id="canvas50"></div>
            <div id="canvas51"></div>
            <div id="canvas52"></div>
            <div id="canvas53"></div>
            <div id="canvas54"></div>
            <div id="canvas55"></div>
            <div id="canvas56"></div>
            <div id="canvas57"></div>
            <div id="canvas58"></div>
            <div id="canvas59"></div>
            <div id="canvas60"></div>
            <div id="canvas61"></div>
            <div id="canvas62"></div>
            <div id="canvas63"></div>
            <div id="canvas64"></div>
            <div id="canvas65"></div>
            <div id="canvas66"></div>
            <div id="canvas67"></div>
            <div id="canvas68"></div>
            <div id="canvas69"></div>
            <div id="canvas70"></div>
            <div id="canvas71"></div>
            <div id="canvas72"></div>
            <div id="canvas73"></div>
            <div id="canvas74"></div>
            <div id="canvas75"></div>
            <div id="canvas76"></div>
            <div id="canvas77"></div>
            <div id="canvas78"></div>
            <div id="canvas79"></div>
            <div id="canvas80"></div>
            <div id="canvas81"></div>
            <div id="canvas82"></div>
            <div id="canvas83"></div>
            <div id="canvas84"></div>
            <div id="canvas85"></div>
            <div id="canvas86"></div>
            <div id="canvas87"></div>
            <div id="canvas88"></div>
            <div id="canvas89"></div>
            <div id="canvas90"></div>
            <div id="canvas91"></div>
            <div id="canvas92"></div>
            <div id="canvas93"></div>
            <div id="canvas94"></div>
            <div id="canvas95"></div>
            <div id="canvas96"></div>
            <div id="canvas97"></div>
            <div id="canvas98"></div>
            <div id="canvas99"></div>
            <div id="canvas100"></div>
            <div id="canvas101"></div>
            <div id="canvas102"></div>
            <div id="canvas103"></div>
            <div id="canvas104"></div>
            <div id="canvas105"></div>
            <div id="canvas106"></div>
            <div id="canvas107"></div>
            <div id="canvas108"></div>
            <div id="canvas109"></div>
            <div id="canvas110"></div>
            <div id="canvas111"></div>
            <div id="canvas112"></div>
            <div id="canvas113"></div>
            <div id="canvas114"></div>
            <div id="canvas115"></div>
            <div id="canvas116"></div>
            <div id="canvas117"></div>
            <div id="canvas118"></div>
            <div id="canvas119"></div>
            <div id="canvas120"></div>
            <div id="canvas121"></div>
            <div id="canvas122"></div>
            <div id="canvas123"></div>
            <div id="canvas124"></div>
            <div id="canvas125"></div>
            <div id="canvas126"></div>
            <div id="canvas127"></div>
            <div id="canvas128"></div>
            <div id="canvas129"></div>
            <div id="canvas130"></div>
            <div id="canvas131"></div>
            <div id="canvas132"></div>
            <div id="canvas133"></div>
            <div id="canvas134"></div>
            <div id="canvas135"></div>
            <div id="canvas136"></div>
            <div id="canvas137"></div>
            <div id="canvas138"></div>
            <div id="canvas139"></div>
            <div id="canvas140"></div>
            <div id="canvas141"></div>
            <div id="canvas142"></div>
            <div id="canvas143"></div>
            <div id="canvas144"></div>
            <div id="canvas145"></div>
            <div id="canvas146"></div>
            <div id="canvas147"></div>
            <div id="canvas148"></div>
            <div id="canvas149"></div>
            <div id="canvas150"></div>
            <div id="canvas151"></div>
            <div id="canvas152"></div>
            <div id="canvas153"></div>
            <div id="canvas154"></div>
            <div id="canvas155"></div>
            <div id="canvas156"></div>
            <div id="canvas157"></div>
            <div id="canvas158"></div>
            <div id="canvas159"></div>
            <div id="canvas160"></div>
            <div id="canvas161"></div>
            <div id="canvas162"></div>
            <div id="canvas163"></div>
            <div id="canvas164"></div>
            <div id="canvas165"></div>
            <div id="canvas166"></div>
            <div id="canvas167"></div>
            <div id="canvas168"></div>
            <div id="canvas169"></div>
            <div id="canvas170"></div>
            <div id="canvas171"></div>
            <div id="canvas172"></div>
            <div id="canvas173"></div>
            <div id="canvas174"></div>
            <div id="canvas175"></div>
            <div id="canvas176"></div>
            <div id="canvas177"></div>
            <div id="canvas178"></div>
            <div id="canvas179"></div>
            <div id="canvas180"></div>
            <div id="canvas181"></div>
            <div id="canvas182"></div>
            <div id="canvas183"></div>
            <div id="canvas184"></div>
            <div id="canvas185"></div>
            <div id="canvas186"></div>
            <div id="canvas187"></div>
            <div id="canvas188"></div>
            <div id="canvas189"></div>
            <div id="canvas190"></div>
            <div id="canvas191"></div>
            <div id="canvas192"></div>
        </div>
        <div id='button' class="cross-layout">
            <button id="top" >￪</button>
            <button id="left" >￩</button>
            <button id="bottom" >￬</button>
            <button id="right" >￫</button>
            <input type="text" id="input1" autocomplete="off" value="1 2">
            <input type="submit" id="action" value="調べる" onclick="win_open()">
            <input type="submit" id="action2" value="入力" onclick="input()">
        </div>
    </body>
</html>
