<!DOCTYPE html>
<html>
  <head lang="ja">
        <meta charset="UTF-8">
            <title></title>
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
  </head>
  <body>
			<h1>4-1 メタルギア風 1F</h1>
            <img class="chara" src="{% static 'game/navigation.png' %}"/>
			<div class="button">
            <a href="javascript:history.back();" target="_parent" class="history_back_btn">前のページへ戻る</a>
			<a href="http://localhost:8080/map/" target="_parent" class="map_btn">マップ</a>
			</div>
  </body>
</html>
