<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-1.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">着いたわ、ここが亡霊の塔よ。</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">うわさによると、この亡霊の塔の最上階にオーブはあるみたい。</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">モンスターがたくさんいそうだね。。。</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">なるべく見つからないように行きましょう。</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">ドアにはカギがかかってるみたいだけど、どこかにヒントが隠されてるみたい。</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">それを見つけてドアのカギを解除しましょう！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">ここは下にあるパソコンがあやしいわね・・・</p>
    </div>
  </body>
</html>
