<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-1.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">着いたわ、ここがボウレイノトウよ。</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">うわさによると、このボウレイノトウの最上階にオーブはあるみたい。</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">モンスターがたくさんいそうだね。。。</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">なるべく見つからないように行きましょう。</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">ドアを開けるにはパスワードがいるわ、どこかにヒントがかくされてるみたい。</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">それを見つけてドアのロックをかいじょしましょう！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">ここは右上にあるパソコンがあやしいわね・・・</p>
        <p class="text8" id="text8Id"><img src="{% static 'game/fairy.png' %}">右の画面で、ボタンをクリックすることで動いたり、調べたり、</p>
        <p class="text9" id="text9Id"><img src="{% static 'game/air.png' %}">パスワードを入力できるわ！</p>
    </div>
  </body>
</html>
