<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game2-3.css' %}">
        <script type="text/javascript" src="{% static 'js/game2-3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
    </head>
    <body onload="load();">
			<button onclick="start();" id="start">スタート</button>
			<div id="yatta">
				<img src="{% static 'game/clear-window.gif' %}" id="clear-window">
				<a href="http://localhost:8080/stage2-3/nextstory2-3/" target="story2-3"><button  onclick="mapclick2(7);" id="clear">次の話</button></a>
			</div>
			<div id="back">
				<div class="box">
					<div id="select">
						<button id="fire-button" onclick="gameSet();get_attribute('fire')">火属性</button>
						<button id="water-button" onclick="gameSet2();get_attribute('water')">水属性</button>
						<button id="leaf-button" onclick="gameSet3();get_attribute('leaf')">草属性</button>
					</div>
					<div id="waku">
						<div id="fire">
							<table>
								<tr>
									<td id="word0">F</td>
									<td id="word1">I</td>
									<td id="word2">R</td>
									<td id="word3">E</td>
								</tr>
							</table>
						</div>
						<div id="water">
							<table>
								<tr>
									<td id="word20">W</td>
									<td id="word21">A</td>
									<td id="word22">T</td>
									<td id="word23">E</td>
									<td id="word24">R</td>
								</tr>
							</table>
						</div>
						<div id="leaf">
							<table>
								<tr>
									<td id="word30">L</td>
									<td id="word31">E</td>
									<td id="word32">A</td>
									<td id="word33">F</td>
								</tr>
							</table>
						</div>
					</div>
					<div id="enemy-zone">

						<img src="{%static 'game/target-mark.png'%}" id="target">
						<input type="image"onclick="get_monster('water','fire')" src="{% static 'game/firegobrin.gif' %}" id="fire-gobrin"></input>

						<input type="image"onclick="get_monster('leaf','water')" src="{% static 'game/watergobrin.gif' %}" id="water-gobrin"></input>

						<input type="image"onclick="get_monster('fire','leaf')" src="{% static 'game/leaf-gobrin.gif' %}" id="leaf-gobrin"></input>

						<img src="{% static 'game/firegobrin-down.png' %}" id="fire-gobrin-down">
						<img src="{% static 'game/watergobrin-down.png' %}" id="water-gobrin-down">
						<img src="{% static 'game/gobrin-down.png' %}" id="leaf-gobrin-down">
					</div>
					<div id="life-box">
						<img src="{%static 'game/hp.png'%}" id="life1">
						<img src="{%static 'game/hp.png'%}" id="life2">
						<img src="{%static 'game/hp.png'%}" id="life3">
					</div>
						<img src="{%static 'game/charadamage.gif'%}" id="damage">
						<img src="{%static 'game/character/top.gif'%}" id="chara">
					<div id='keybord-fire'>
						<img id="fire1" src="{% static 'game/keybord-f.png' %}">
						<img id="fire2" src="{% static 'game/keybord-i.png' %}">
						<img id="fire3" src="{% static 'game/keybord-r.png' %}">
						<img id="fire4" src="{% static 'game/keybord-e.png' %}">
					</div>
					<div id='keybord-water'>
						<img id="water1" src="{% static 'game/keybord-w.png' %}">
						<img id="water2" src="{% static 'game/keybord-a.png' %}">
						<img id="water3" src="{% static 'game/keybord-t.png' %}">
						<img id="water4" src="{% static 'game/keybord-e.png' %}">
						<img id="water5" src="{% static 'game/keybord-r.png' %}">
					</div>
					<div id='keybord-leaf'>
						<img id="leaf1" src="{% static 'game/keybord-l.png' %}">
						<img id="leaf2" src="{% static 'game/keybord-e.png' %}">
						<img id="leaf3" src="{% static 'game/keybord-a.png' %}">
						<img id="leaf4" src="{% static 'game/keybord-f.png' %}">
					</div>
				</div>
			</div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/2-3kari.m4a' %}";
			setTimeout(roop, 130000);
		}
	</script>
    </body>
</html>
