<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game2-1.css' %}">
        <script type="text/javascript" src="{% static 'js/game2-1.js' %}"></script>
    </head>
    <body onload="gameSet()">
			<div class="box">
				<div id="waku">
					<table id="typing">
						<tr>
							<td id="word0">E</td>
							<td id="word1">S</td>
							<td id="word2">C</td>
							<td id="word3">A</td>
							<td id="word4">P</td>
							<td id="word5">E</td>
						</tr>
					</table>
				</div>
					<table id="escape">
						<tr>
							<td id="escape1">E</td>
							<td id="escape2">S</td>
							<td id="escape3">C</td>
							<td id="escape4">A</td>
							<td id="escape5">P</td>
							<td id="escape6">E</td>
						</tr>
					</table>
			</div>
    </body>
</html>
