<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <table class="item">
      ​
      <tr>
        <td width="30%" align="right"><img src="{% static "game/charactar5.png"%}"></td>
        <td width="70%" align="left">NEXT_STAGE4</td>
        <td></td>
      </tr>
      ​
      <tr>
        <td></td>
        <td width="70%" align="right">HELLO<td>
            <td width="30%"><img src="{% static "game/charactar5.png"%}"></td>
      </tr>
      ​
      <tr>
        <td width="30%" align="right"><img src="{% static "game/charactar5.png"%}"></td>
        <td width="70%" align="left">BYE</td>
        <td></td>
      </tr>
      ​
      <tr>
        <td></td>
        <td width="70%" align="right">BYE<td>
            <td width="30%"><img src="{% static "game/charactar5.png"%}"></td>
      </tr>
      ​
    </table>


  </body>
</html>
