<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory2-3.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">なんとかたおせたわね・・・</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">うん！　魔法も３種類使えるようになった！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">これで残りのオーブは２つ。頑張って手に入れましょう！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">うん！　頑張るよ！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">次は火のオーブを探しに行くわよ！</p>
    </div>

    <div class="button">
        <a href="http://localhost:8080/stage3-1" target="_parent" class="next-button">次のステージへ</a>
    </div>

  </body>
</html>
