<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">ゴブリンだわ！　でも今回のは前のと違う・・・</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}"></p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}"></p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}"></p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}"></p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}"></p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}"></p>
    </div>

	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/2-3kari.m4a' %}";
			setTimeout(roop, 131000);
		}
	</script>

  </body>
</html>
