<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory4-4.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">やっぱり怪しかったわね！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">リトはパスワードをわかりやすい記念日にしてはだめよ！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">パスワードは自分だけがわかるように難しくしなくちゃ！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">たしかに、簡単なパスワードにしたら簡単にパスワード解除されちゃうもんね！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}">気をつけるよ！</p>
    </div>

    <div class="button">
        <a href="http://localhost:8080/stage4-5" target="_parent" class="next-button">次のステージへ</a>
    </div>

  </body>
</html>
