<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-4.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">この部屋、パソコン室かしら、やたらパソコンが多いわね・・・</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">全部調べるのは時間かかりそうだなぁ。</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">ん？</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">右下のカレンダー、何かマークされてない？</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">そのカレンダーのマークされてる数字がカギと関係しているのかも！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">とりあえず見てみましょう！</p>
    </div>
  </body>
</html>
