body {
    margin: 0px;
}
#back{
    background-color:gray;
    opacity:0.5;
    z-index:0;
}
#start{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}

#pagestart{
    text-align: center;
}
#pageclear{
    text-align: center;
}
#clear{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#pagerestart{
    text-align: center;
}
#retry{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#hpbar{
    background-color:#8a4b08;
    display: grid;
    grid-template-columns: 46vw 8vw 46vw;
    grid-template-rows: auto;
}
#hp1{
    grid-row: 1;
    grid-column: 1;
    position:relative;
}
#hero-meter{
    position:absolute;
    right:0;
    bottom:0;
    transform: scale(-1,1);
    width:85%;
    height:50%;
}
#hp1 > p{
    position:absolute;
    height:auto;
    width:85%;
    right:0;
    text-align:left;
    bottom:40%;
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
}
#hp2{
    grid-row: 1;
    grid-column: 3;
    position:relative;
}

#enemy-meter{
    position:absolute;
    left:0;
    bottom:0;
    width:85%;
    height:50%;
}
#hp2 > p{
    position:absolute;
    height:auto;
    width:85%;
    left:0;
    bottom:40%;
    margin: 0px;
    text-align:right;
    font-weight: bold;
    font-size: 25px;
}
#vs p{
    text-align:center;
    font-weight: bold;
    font-size: 100%;
}
#wall{
    position:relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
}
#wall img{
    position:relative;
    width:100%;
    height:60px;
}
#hero-mp-meter{
    position:absolute;
    bottom:50%;
    right:54%;
    width:39%;
}
.canvas{
    background-color:#999;
    display: grid;
    grid-template-columns: 100vw ;
    grid-template-rows: 81vh ;
}
#canvas1{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 1;
}


#maru {
    grid-row: 1;
    grid-column: 1;
}
#maru img{
    position:relative;
    width:10vw;
    height:10vh;
    top:60%;
    left:10%;
}
#enemy{
    grid-row: 1;
    grid-column: 1;
}
#enemy img{
    position:relative;
    width:10vw;
    height:10vh;
    top:60%;
    left:80%;
}
#patinko1 {
    grid-row: 1;
    grid-column: 1;
}
#patinko1 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#patinko2 {
    grid-row: 1;
    grid-column: 1;
}
#patinko2 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#patinko3 {
    grid-row: 1;
    grid-column: 1;
}
#patinko3 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#enemyattack {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack img{
    position:relative;
    width:10vw;
    height:10vh;
}
#enemyattack2 {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack2 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#enemyattack3 {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack3 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#enemyattack4 {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack4 img{
    position:relative;
    width:10vw;
    height:10vh;
}
#enemyattack5 {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack5 img{
    position:relative;
    width:15vw;
    height:50vh;
}
#enemyattack5charge {
    grid-row: 1;
    grid-column: 1;
}
#enemyattack5charge img{
    position:relative;
    width:10vw;
    height:10vh;
}
#herosword {
    grid-row: 1;
    grid-column: 1;
}
#herosword img{
    position:relative;
    width:10vw;
    height:10vh;
}
#action{
    z-index:-2;
    grid-row:1;
    grid-column:4;
}
#action2{
    grid-row:2;
    grid-column:4;
}

