.button{
    position: absolute;
    width: 100%;
    text-align: center;
}

.next-button{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}

.next-button:hover{
    background-color: white;
    color: black;
}

