body {
    margin: 0px;
}
#back{
    background-color:gray;
    opacity:0.5;
    z-index:0;
}
#start{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#start:hover{
	background:black;
}
#pagestart{
    text-align: center;
}
#pageclear{
    position:absolute;
    top:40%;
    left:40%;
    z-index:1;
}
#clear-window{
    z-index:1;
	width:100%;
}
#clear{
    z-index:1;
    display: block;

    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#clear:hover{
	background:black;
}
.canvas{
    z-index:2;
    position:absolute;
    width: 640px;
    background:#999;
    display: grid;
    grid-template-columns:32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
}
#canvas1{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 1;
}
#canvas4{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 4;
}
#canvas5{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 5;
}
#canvas6{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 6;
}
#canvas7{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 7;
}
#canvas8{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 8;
}
#canvas9{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 9;
}
#canvas10{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 10;
}
#canvas11{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 11;
}
#canvas12{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 12;
}
#canvas13{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 13;
}
#canvas14{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 14;
}
#canvas15{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 15;
}
#canvas16{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 16;
}
#canvas17{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 17;
}
#canvas18{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 18;
}
#canvas19{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 19;
}
#canvas20{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 20;
}

<!--              -->

#canvas21{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 1;
}
#canvas24{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 4;
}
#canvas39{
    background:url("../game/dustbox1.png");
    grid-row: 2;
    grid-column: 19;
}
#canvas40{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 20;
}

<!--         -->


#canvas41{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 1;
}
#canvas44{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 4;
}
#canvas59{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 19;
}
#canvas70{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 20;
}

<!--              -->


#canvas71{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 1;
}
#canvas74{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 4;
}
#canvas77{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 7;
}
#canvas78{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 8;
}
#canvas79{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 9;
}
#canvas80{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 10;
}
#canvas81{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 11;
}
#canvas82{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 12;
}
#canvas83{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 13;
}
#canvas84{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 14;
}
#canvas85{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 15;
}
#canvas86{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 16;
}
#canvas87{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 17;
}
#canvas88{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 18;
}
#canvas89{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 19;
}
#canvas90{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 20;
}

<!--           -->

#canvas91{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 1;
}
#canvas94{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 4;
}
#canvas97{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 7;
}
#canvas98{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 8;
}
#canvas99{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 9;
}
#canvas100{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 10;
}
#canvas101{
    background:url("../game/dustbox1.png");
    grid-row: 5;
    grid-column: 11;
}
#canvas108{
    background:url("../game/locker.png");
    grid-row: 5;
    grid-column: 18;
}
#canvas109{
    background:url("../game/locker.png");
    grid-row: 5;
    grid-column: 19;
}
#canvas110{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 20;
}

<!--                 -->

#canvas111{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 1;
}
#canvas114{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 4;
}
#canvas117{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 7;
}
#canvas118{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 8;
}
#canvas119{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 9;
}
#canvas120{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 10;
}
#canvas124{
    background:url("../game/table.png");
    grid-row: 6;
    grid-column: 14;
}
#canvas125{
    background:url("../game/table.png");
    grid-row: 6;
    grid-column: 15;
}
#canvas126{
    background:url("../game/table.png");
    grid-row: 6;
    grid-column: 16;
}
#canvas130{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 20;
}

<!--                 -->

#canvas131{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 1;
}
#canvas134{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 4;
}
#canvas137{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 7;
}
#canvas138{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 8;
}
#canvas139{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 9;
}
#canvas140{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 10;
}
#canvas150{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 20;
}

<!--                 -->

#canvas151{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 1;
}
#canvas154{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 4;
}
#canvas157{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 7;
}
#canvas158{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 8;
}
#canvas159{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 9;
}
#canvas160{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 10;
}
#canvas164{
    background:url("../game/vase.png");
    grid-row: 8;
    grid-column: 14;
}
#canvas165{
    background:url("../game/vase.png");
    grid-row: 8;
    grid-column: 15;
}
#canvas166{
    background:url("../game/vase.png");
    grid-row: 8;
    grid-column: 16;
}
#canvas170{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 20;
}

<!--                 -->

#canvas171{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 1;
}
#canvas174{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 4;
}
#canvas190{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 20;
}

<!--                 -->

#canvas191{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 1;
}
#canvas194{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 4;
}
#canvas195{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 5;
}
#canvas196{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 6;
}
#canvas197{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 7;
}
#canvas198{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 8;
}
#canvas199{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 9;
}
#canvas200{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 10;
}
#canvas201{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 11;
}
#canvas202{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 12;
}
#canvas203{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 13;
}
#canvas204{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 14;
}
#canvas205{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 15;
}
#canvas206{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 16;
}
#canvas207{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 17;
}
#canvas208{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 18;
}
#canvas210{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 20;
}


<!--                 -->

#canvas211{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 1;
}
#canvas230{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 20;
}

<!--                 -->

#canvas231{
    background:url("../game/wall.png");
    grid-row: 12;
    grid-column: 1;
}
#canvas250{
    background:url("../game/wall.png");
    grid-row: 12;
    grid-column: 20;
}

<!--                 -->
#canvas251{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 1;
}
#canvas252{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 2;
}
#canvas253{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 3;
}
#canvas254{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 4;
}
#canvas255{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 5;
}
#canvas256{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 6;
}
#canvas257{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 7;
}
#canvas258{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 8;
}
#canvas259{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 9;
}
#canvas260{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 10;
}
#canvas261{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 11;
}
#canvas262{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 12;
}
#canvas263{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 13;
}
#canvas264{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 14;
}
#canvas265{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 15;
}
#canvas266{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 16;
}
#canvas267{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 17;
}
#canvas268{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 18;
}
#canvas269{
    background:url("../game/door1.png");
    grid-row: 13;
    grid-column: 19;
}
#canvas270{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 20;
}







#maru {
    grid-row: 1;
    grid-column: 2;
}
.cross-layout {
    z-index:2;
    position:absolute;
    top:416px;
    left:25vw;
    display: grid;
    grid-template-columns: 60px 60px 60px 120px 120px;
    grid-template-rows: 60px 60px;
}
#top {
    grid-row: 1;
    grid-column: 2;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#left {
    grid-row: 2;
    grid-column: 1;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#bottom{
    grid-row: 2;
    grid-column: 2;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#right {
    grid-row: 2;
    grid-column: 3;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#input1 {
    grid-row: 1;
    grid-column: 5;
}
#action{
    grid-row:1;
    grid-column:4;
    z-index: 1;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#action1{
    grid-row:1;
    grid-column:4;
    z-index: 2;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#action2{
    grid-row:2;
    grid-column:4;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}

.kyoku {
	visibility: hidden;
	position: absolute;
}
