body{
  margin:0px;
  padding:0px;
}
td{
	text-align:center;
	color:white;
}
#box{
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
		background-color:black;
    background-size:cover;
    postion: relative;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
#start{
	position:absolute;
	top:60%;
	left:45%;
	z-index:1;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#start:hover{
  background:black;
}
#clear{
	position:absolute;
	top:60%;
	left:45%;
	z-index:1;
	display:none;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#clear:hover{
  background:black;
}
#back{
	height:100vh;
	background-color:gray;
	opacity:0.5;
	z-index:0;
}
#dive{
	height:20vh;
  width:auto;
  margin:0;
  text-align:center;
  margin-bottom:0.5em;
}
#chara{
  position:absolute;
  left:0%;
  top:43%;
  height:10vh;
  width:10vh;
}
#water-back{
	width:100%;
	max-width:100%;
	height:20vh;
}
#treasure{
	height:30vh;
	width:100vh;
	font-size:5em;
}
#key{
	display:none;
	height:30vh;
	width:100vh;
	font-size:5em;

}
#key1{
  margin:0 auto;
  padding:0px;
  display:block;
  height:40vh;
  width:100vh;
}
#key2{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key3{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key4{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key5{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key6{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key7{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key8{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#chest{
	display:none;
	margin:0 auto;
}
#key21{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key22{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#key23{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
