body{
  margin:0px;
  padding:0px;
}

#back{
  background-color:gray;
  opacity:0.5;
	z-index:0;
}
#start{
  position:absolute;
  top:60%;
	left:50%;
	z-index:1;
}
#clear{
  position:absolute;
  top:60%;
	left:50%;
	z-index:1;
	display:none;
}
#box{
	height:100vh;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url("../game/stage3-1back.png");
	background-size:cover;
	postion: relative;
	justify-content: center; /*左右中央揃え*/
	align-items: center;     /*上下中央揃え*/
}
#mine{
	position:absolute;
	top:55%;
	left:60%;
	display:none;
}
#buttons{
}
#item1{
	display:none;
}
#item2{
	display:none;
}
#button1{
	position:absolute;
	left:35%;
	top:10%;
	width:10%;
	height:10%;
}
#button2{
	position:absolute;
	left:35%;
	top:30%;
	width:10%;
	height:10%;
}
#button3{
	position:absolute;
	left:55%;
	top:30%;
	width:10%;
	height:10%;
}
#button4{
	position:absolute;
	left:35%;
	top:50%;
	width:10%;
	height:10%;
}
#button5{
	position:absolute;
	left:35%;
	top:70%;
	width:10%;
	height:10%;
}
#mine1{
	position:absolute;
	left:55%;
	top:10%;
	width:10%;
	height:10%;
}
#mine2{
	position:absolute;
	left:55%;
	top:50%;
	width:10%;
	height:10%;
}
#mine3{
	position:absolute;
	left:55%;
	top:70%;
	width:10%;
	height:10%;
}
#left{
	display:none;
	width:7%;
	height:auto;
	position:absolute;
	left:35%;
	top:12%;
}
#right{
	display:none;
	width:7%;
	height:auto;
	position:absolute;
	left:58%;
	top:12%;
}
