body {
    margin: 0px;
}
.canvas{
    width: 640px;
    background:#999;
    display: grid;
    grid-template-columns:32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
}
#canvas1{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 1;
}
#canvas2{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 2;
}
#canvas3{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 3;
}
#canvas4{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 4;
}
#canvas5{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 5;
}
#canvas6{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 6;
}
#canvas7{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 7;
}
#canvas8{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 8;
}
#canvas9{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 9;
}
#canvas10{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 10;
}
#canvas11{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 11;
}
#canvas12{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 12;
}
#canvas13{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 13;
}
#canvas14{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 14;
}
#canvas15{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 15;
}
#canvas16{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 16;
}
#canvas17{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 17;
}
#canvas18{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 18;
}
#canvas19{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 19;
}
#canvas20{
    background:url("../game/wall2.png");
    grid-row: 1;
    grid-column: 20;
}

<!--              -->

#canvas21{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 1;
}
#canvas22{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 2;
}
#canvas23{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 3;
}
#canvas24{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 4;
}
#canvas25{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 5;
}
#canvas26{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 6;
}
#canvas27{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 7;
}
#canvas28{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 8;
}
#canvas29{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 9;
}
#canvas30{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 10;
}
#canvas31{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 11;
}
#canvas32{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 12;
}
#canvas33{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 13;
}
#canvas34{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 14;
}
#canvas35{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 15;
}
#canvas36{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 16;
}
#canvas37{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 17;
}
#canvas38{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 18;
}
#canvas39{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 19;
}
#canvas40{
    background:url("../game/wall2.png");
    grid-row: 2;
    grid-column: 20;
}

<!--         -->


#canvas41{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 1;
}
#canvas42{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 2;
}
#canvas43{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 3;
}
#canvas44{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 4;
}
#canvas45{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 5;
}
#canvas46{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 6;
}
#canvas47{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 7;
}
#canvas48{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 8;
}
#canvas49{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 9;
}
#canvas50{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 10;
}
#canvas51{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 11;
}
#canvas52{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 12;
}
#canvas53{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 13;
}
#canvas54{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 14;
}
#canvas55{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 15;
}
#canvas56{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 16;
}
#canvas57{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 17;
}
#canvas58{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 18;
}
#canvas59{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 19;
}
#canvas70{
    background:url("../game/wall2.png");
    grid-row: 3;
    grid-column: 20;
}

<!--              -->


#canvas71{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 1;
}
#canvas72{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 2;
}
#canvas73{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 3;
}
#canvas74{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 4;
}
#canvas75{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 5;
}
#canvas76{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 6;
}
#canvas77{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 7;
}
#canvas78{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 8;
}
#canvas79{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 9;
}
#canvas80{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 10;
}
#canvas81{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 11;
}
#canvas82{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 12;
}
#canvas83{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 13;
}
#canvas84{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 14;
}
#canvas85{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 15;
}
#canvas86{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 16;
}
#canvas87{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 17;
}
#canvas88{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 18;
}
#canvas89{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 19;
}
#canvas90{
    background:url("../game/wall2.png");
    grid-row: 4;
    grid-column: 20;
}

<!--           -->

#canvas91{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 1;
}
#canvas92{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 2;
}
#canvas93{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 3;
}
#canvas94{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 4;
}
#canvas95{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 5;
}
#canvas96{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 6;
}
#canvas97{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 7;
}
#canvas98{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 8;
}
#canvas99{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 9;
}
#canvas100{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 10;
}
#canvas101{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 11;
}
#canvas102{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 12;
}
#canvas103{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 13;
}
#canvas104{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 14;
}
#canvas105{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 15;
}
#canvas106{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 16;
}
#canvas107{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 17;
}
#canvas108{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 18;
}
#canvas109{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 19;
}
#canvas110{
    background:url("../game/wall2.png");
    grid-row: 5;
    grid-column: 20;
}

<!--                 -->

#canvas111{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 1;
}
#canvas112{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 2;
}
#canvas113{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 3;
}
#canvas114{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 4;
}
#canvas115{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 5;
}
#canvas116{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 6;
}
#canvas117{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 7;
}
#canvas118{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 8;
}
#canvas119{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 9;
}
#canvas120{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 10;
}
#canvas121{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 11;
}
#canvas122{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 12;
}
#canvas123{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 13;
}
#canvas124{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 14;
}
#canvas125{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 15;
}
#canvas126{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 16;
}
#canvas127{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 17;
}
#canvas128{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 18;
}
#canvas129{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 19;
}
#canvas130{
    background:url("../game/wall2.png");
    grid-row: 6;
    grid-column: 20;
}

<!--                 -->

#canvas131{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 1;
}
#canvas132{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 2;
}
#canvas133{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 3;
}
#canvas134{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 4;
}
#canvas135{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 5;
}
#canvas136{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 6;
}
#canvas137{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 7;
}
#canvas138{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 8;
}
#canvas139{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 9;
}
#canvas140{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 10;
}
#canvas141{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 11;
}
#canvas142{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 12;
}
#canvas143{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 13;
}
#canvas144{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 14;
}
#canvas145{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 15;
}
#canvas146{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 16;
}
#canvas147{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 17;
}
#canvas148{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 18;
}
#canvas149{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 19;
}
#canvas150{
    background:url("../game/wall2.png");
    grid-row: 7;
    grid-column: 20;
}

<!--                 -->

#canvas151{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 1;
}
#canvas152{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 2;
}
#canvas153{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 3;
}
#canvas154{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 4;
}
#canvas155{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 5;
}
#canvas156{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 6;
}
#canvas157{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 7;
}
#canvas158{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 8;
}
#canvas159{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 9;
}
#canvas160{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 10;
}
#canvas161{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 11;
}
#canvas162{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 12;
}
#canvas163{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 13;
}
#canvas164{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 14;
}
#canvas165{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 15;
}
#canvas166{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 16;
}
#canvas167{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 17;
}
#canvas168{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 18;
}
#canvas169{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 19;
}
#canvas170{
    background:url("../game/wall2.png");
    grid-row: 8;
    grid-column: 20;
}

<!--                 -->

#canvas171{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 1;
}
#canvas172{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 2;
}
#canvas173{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 3;
}
#canvas174{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 4;
}
#canvas175{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 5;
}
#canvas176{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 6;
}
#canvas177{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 7;
}
#canvas178{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 8;
}
#canvas179{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 9;
}
#canvas180{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 10;
}
#canvas181{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 11;
}
#canvas182{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 12;
}
#canvas183{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 13;
}
#canvas184{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 14;
}
#canvas185{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 15;
}
#canvas186{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 16;
}
#canvas187{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 17;
}
#canvas188{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 18;
}
#canvas189{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 19;
}
#canvas190{
    background:url("../game/wall2.png");
    grid-row: 9;
    grid-column: 20;
}

<!--                 -->

#canvas191{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 1;
}
#canvas192{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 2;
}
#canvas193{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 3;
}
#canvas194{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 4;
}
#canvas195{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 5;
}
#canvas196{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 6;
}
#canvas197{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 7;
}
#canvas198{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 8;
}
#canvas199{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 9;
}
#canvas200{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 10;
}
#canvas201{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 11;
}
#canvas202{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 12;
}
#canvas203{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 13;
}
#canvas204{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 14;
}
#canvas205{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 15;
}
#canvas206{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 16;
}
#canvas207{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 17;
}
#canvas208{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 18;
}
#canvas209{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 19;
}
#canvas210{
    background:url("../game/wall2.png");
    grid-row: 10;
    grid-column: 20;
}


<!--                 -->

#canvas211{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 1;
}
#canvas212{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 2;
}
#canvas213{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 3;
}
#canvas214{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 4;
}
#canvas215{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 5;
}
#canvas216{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 6;
}
#canvas217{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 7;
}
#canvas218{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 8;
}
#canvas219{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 9;
}
#canvas220{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 10;
}
#canvas221{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 11;
}
#canvas222{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 12;
}
#canvas223{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 13;
}
#canvas224{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 14;
}
#canvas225{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 15;
}
#canvas226{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 16;
}
#canvas227{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 17;
}
#canvas228{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 18;
}
#canvas229{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 19;
}
#canvas230{
    background:url("../game/wall2.png");
    grid-row: 11;
    grid-column: 20;
}

<!--                 -->

#canvas231{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 1;
}
#canvas232{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 2;
}
#canvas233{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 3;
}
#canvas234{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 4;
}
#canvas235{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 5;
}
#canvas236{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 6;
}
#canvas237{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 7;
}
#canvas238{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 8;
}
#canvas239{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 9;
}
#canvas240{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 10;
}
#canvas241{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 11;
}
#canvas242{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 12;
}
#canvas243{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 13;
}
#canvas244{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 14;
}
#canvas245{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 15;
}
#canvas246{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 16;
}
#canvas247{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 17;
}
#canvas248{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 18;
}
#canvas249{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 19;
}
#canvas250{
    background:url("../game/wall2.png");
    grid-row: 12;
    grid-column: 20;
}

<!--                 -->
#canvas251{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 1;
}
#canvas252{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 2;
}
#canvas253{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 3;
}
#canvas254{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 4;
}
#canvas255{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 5;
}
#canvas256{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 6;
}
#canvas257{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 7;
}
#canvas258{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 8;
}
#canvas259{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 9;
}
#canvas260{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 10;
}
#canvas261{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 11;
}
#canvas262{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 12;
}
#canvas263{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 13;
}
#canvas264{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 14;
}
#canvas265{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 15;
}
#canvas266{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 16;
}
#canvas267{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 17;
}
#canvas268{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 18;
}
#canvas269{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 19;
}
#canvas270{
    background:url("../game/wall2.png");
    grid-row: 13;
    grid-column: 20;
}







#maru {
    grid-row: 1;
    grid-column: 1;
}
.cross-layout {
    display: grid;
    grid-template-columns: 60px 60px 60px 120px 120px;
    grid-template-rows: 60px 60px;
}
#top {
    grid-row: 1;
    grid-column: 2;
}
#left {
    grid-row: 2;
    grid-column: 1;
}
#bottom{
    grid-row: 2;
    grid-column: 2;
}
#right {
    grid-row: 2;
    grid-column: 3;
}
#input1 {
    grid-row: 1;
    grid-column: 5;
}
#action{
    grid-row:1;
    grid-column:4;
}
#action2{
    grid-row:2;
    grid-column:4;
}
