body{
	margin:0px;
	padding:0px;
}
meter{
	width:40%;
	height:1.5em;
}
#back{
	background-color:gray;
	height:100vh;
	opacity:0.5;
	z-index:1;
}
#start{
	position:absolute;
	top:60%;
	left:50%;
	z-index:1;
}
#clear{
	position:absolute;
	top:60%;
	left:50%;
	z-index:1;
	display:none;
}
.box{
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../game/stage1back.jpg");
    background-size:cover;
    postion: relative;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
#meter{
	position:absolute;
	top:60%;
	left:33%;
	width:40%;
}
#enemy-meter{
	position:absolute;
	top:10%;
	left:63%;
	width:20%;
}
#enemy-down{
	display:none;
	position: absolute;
	left:37.5%;
	top:10%;
}
#enemy-img{
	position: absolute;
	left:37.5%;
}
#attack{
	display:block;
	position:absolute;
	left:45%;
	top:70%;
}
#str{
	position:absolute;
	top:62%;
	left:35%;
}
#hp{
	position:absolute;
	top:12%;
	left:70%;
}
#next{
	display:none;
	position:absolute;
	top:40%;
	left:43%;
}
