body{
	margin:0px;
	padding:0px;
}
#start{
	position:absolute;
	top:60%;
	left:40%;
	z-index:1;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#start:hover{
  background:black;
}
#clear{
	z-index:1;
	display:none;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#clear:hover{
  background:black;
}
#back{
	background-color:gray;
	opacity:0.5;
	z-index:0;
}
#box{
	height:100vh;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url("../game/stage3back.png");
	background-size:cover;
	postion: relative;
	justify-content: center; /*左右中央揃え*/
	align-items: center;     /*上下中央揃え*/
}
#button{
	display:none;
}

#input{
	position:absolute;
	top:50%;
	left:10%;
}
#input2{
	position:absolute;
	top:50%;
	left:10%;
	display:none;
}
#pice4{
	position:absolute;
	top:30%;/*初期位置top30% left50%*/
	left:50%;/*くっつき1top22%*/
	width:10%;/*くっつき2left45%*/
	height:auto;
}
#pice3{
	position:absolute;
	top:30%;/*初期位置top30% left30%*/
	left:30%;/*くっつき１top22%*/
	width:10%;/*くっつき2left41%*/
	height:auto;
}
#pice2{
	position:absolute;
	top:10%;/*初期位置top10% left50%*/
	left:50%;/*くっつき１top17.5%*/
	width:10%;/*くっつき2left44.5%*/
	height:auto;
}
#pice1{
	position:absolute;
	top:10%;/*初期位置top10% left30%*/
	left:30%;/*くっつき１top17.5%*/
	width:10%;/*くっつき2left41%*/
	height:auto;
}
#clear-window{
  display:none;
  z-index:1;
  width:100%;
}
#yatta{
  display:block;
  position:absolute;
  top:40%;
  left:40%;
  z-index:1;
}

.kyoku {
	visibility: hidden;
	position: absolute;
}
