body {
    margin: 0px;
}
#back{
    background-color:gray;
    opacity:0.5;
    z-index:0;
}
#start{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#pagestart{
    text-align: center;
}
#pageclear{
    text-align: center;
}
#clear{
    position:absolute;
    top:60%;
    left:45%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
.canvas{
    width: 640px;
    background:#999;
    display: grid;
    grid-template-columns:32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
}
#canvas1{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 1;
}
#canvas2{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 2;
}
#canvas3{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 3;
}
#canvas4{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 4;
}
#canvas5{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 5;
}
#canvas6{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 6;
}
#canvas7{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 7;
}
#canvas8{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 8;
}
#canvas9{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 9;
}
#canvas10{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 10;
}
#canvas11{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 11;
}
#canvas12{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 12;
}
#canvas13{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 13;
}
#canvas14{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 14;
}
#canvas15{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 15;
}
#canvas16{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 16;
}
#canvas17{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 17;
}
#canvas20{
    background:url("../game/wall.png");
    grid-row: 1;
    grid-column: 20;
}

<!--              -->

#canvas21{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 1;
}
#canvas22{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 2;
}
#canvas23{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 3;
}
#canvas24{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 4;
}
#canvas25{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 5;
}
#canvas26{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 6;
}
#canvas27{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 7;
}
#canvas28{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 8;
}
#canvas29{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 9;
}
#canvas30{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 10;
}
#canvas31{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 11;
}
#canvas32{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 12;
}
#canvas33{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 13;
}
#canvas34{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 14;
}
#canvas35{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 15;
}
#canvas36{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 16;
}
#canvas37{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 17;
}
#canvas40{
    background:url("../game/wall.png");
    grid-row: 2;
    grid-column: 20;
}

<!--         -->


#canvas41{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 1;
}
#canvas43{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 3;
}
#canvas45{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 5;
}
#canvas47{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 7;
}
#canvas49{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 9;
}
#canvas51{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 11;
}
#canvas53{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 13;
}
#canvas55{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 15;
}
#canvas57{
    background:url("../game/flowerpot.png");
    grid-row: 3;
    grid-column: 17;
}
#canvas70{
    background:url("../game/wall.png");
    grid-row: 3;
    grid-column: 20;
}

<!--              -->


#canvas71{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 1;
}
#canvas90{
    background:url("../game/wall.png");
    grid-row: 4;
    grid-column: 20;
}

<!--           -->

#canvas91{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 1;
}
#canvas110{
    background:url("../game/wall.png");
    grid-row: 5;
    grid-column: 20;
}

<!--                 -->

#canvas111{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 1;
}
#canvas130{
    background:url("../game/wall.png");
    grid-row: 6;
    grid-column: 20;
}

<!--                 -->

#canvas131{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 1;
}
#canvas134{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 4;
}
#canvas135{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 5;
}
#canvas136{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 6;
}
#canvas137{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 7;
}
#canvas138{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 8;
}
#canvas139{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 9;
}
#canvas140{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 10;
}
#canvas141{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 11;
}
#canvas142{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 12;
}
#canvas143{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 13;
}
#canvas144{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 14;
}
#canvas145{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 15;
}
#canvas146{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 16;
}
#canvas147{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 17;
}
#canvas148{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 18;
}
#canvas149{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 19;
}
#canvas150{
    background:url("../game/wall.png");
    grid-row: 7;
    grid-column: 20;
}

<!--                 -->

#canvas151{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 1;
}
#canvas154{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 4;
}
#canvas155{
    background:url("../game/pc.png");
    grid-row: 8;
    grid-column: 5;
}
#canvas156{
    background:url("../game/table.png");
    grid-row: 8;
    grid-column: 6;
}
#canvas161{
    background:url("../game/table.png");
    grid-row: 8;
    grid-column: 11;
}
#canvas162{
    background:url("../game/pc.png");
    grid-row: 8;
    grid-column: 12;
}
#canvas163{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 13;
}
#canvas164{
    background:url("../game/pc.png");
    grid-row: 8;
    grid-column: 14;
}
#canvas169{
    background:url("../game/dustbox2.png");
    grid-row: 8;
    grid-column: 19;
}
#canvas170{
    background:url("../game/wall.png");
    grid-row: 8;
    grid-column: 20;
}

<!--                 -->

#canvas171{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 1;
}
#canvas174{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 4;
}
#canvas183{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 13;
}
#canvas185{
    background:url("../game/character/enemyright.gif");
    grid-row: 9;
    grid-column: 15;
}
#canvas187{
    background:url("../game/character/enemyleft.gif");
    grid-row: 9;
    grid-column: 17;
}
#canvas190{
    background:url("../game/wall.png");
    grid-row: 9;
    grid-column: 20;
}

<!--                 -->

#canvas191{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 1;
}
#canvas194{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 4;
}
#canvas205{
    background:url("../game/table.png");
    grid-row: 10;
    grid-column: 15;
}
#canvas206{
    background:url("../game/table.png");
    grid-row: 10;
    grid-column: 16;
}
#canvas207{
    background:url("../game/table.png");
    grid-row: 10;
    grid-column: 17;
}
#canvas210{
    background:url("../game/wall.png");
    grid-row: 10;
    grid-column: 20;
}


<!--                 -->

#canvas211{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 1;
}
#canvas214{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 4;
}
#canvas215{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 5;
}
#canvas216{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 6;
}
#canvas217{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 7;
}
#canvas218{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 8;
}
#canvas219{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 9;
}
#canvas220{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 10;
}
#canvas221{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 11;
}
#canvas222{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 12;
}
#canvas223{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 13;
}
#canvas230{
    background:url("../game/wall.png");
    grid-row: 11;
    grid-column: 20;
}

<!--                 -->

#canvas231{
    background:url("../game/wall.png");
    grid-row: 12;
    grid-column: 1;
}
#canvas250{
    background:url("../game/wall.png");
    grid-row: 12;
    grid-column: 20;
}

<!--                 -->
#canvas251{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 1;
}
#canvas252{
    background:url("../game/door1.png");
    grid-row: 13;
    grid-column: 2;
}
#canvas253{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 3;
}
#canvas254{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 4;
}
#canvas255{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 5;
}
#canvas256{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 6;
}
#canvas257{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 7;
}
#canvas258{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 8;
}
#canvas259{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 9;
}
#canvas260{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 10;
}
#canvas261{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 11;
}
#canvas262{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 12;
}
#canvas263{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 13;
}
#canvas264{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 14;
}
#canvas265{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 15;
}
#canvas266{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 16;
}
#canvas267{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 17;
}
#canvas268{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 18;
}
#canvas268{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 18;
}
#canvas269{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 19;
}
#canvas270{
    background:url("../game/wall.png");
    grid-row: 13;
    grid-column: 20;
}





#enemy1{
    grid-row: 9;
    grid-column: 5;
}

#maru {
    grid-row: 1;
    grid-column: 19;
}
.cross-layout {
    display: grid;
    grid-template-columns: 60px 60px 60px 120px 120px;
    grid-template-rows: 60px 60px;
}
#top {
    grid-row: 1;
    grid-column: 2;
}
#left {
    grid-row: 2;
    grid-column: 1;
}
#bottom{
    grid-row: 2;
    grid-column: 2;
}
#right {
    grid-row: 2;
    grid-column: 3;
}
#input1 {
    grid-row: 1;
    grid-column: 5;
}
#action{
    grid-row:1;
    grid-column:4;
}
#action2{
    grid-row:2;
    grid-column:4;
}
