body{
	margin:0px;
	padding:0px;
}
p{
	color:white;
}
a{
	text-decoration:none;
}
.box{
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../game/stage1back.jpg");
    background-size:cover;
    postion: relative;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
#back{
	background-color:gray;
	opacity:0.5;
	height:100vh;
	z-index:0;
}
#right{
	position:absolute;
	top:37%;
	left:42%;
	width:20%;
	z-index:1;
}
#start{
	position:absolute;
	top:60%;
	left:40%;
	z-index:1;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#start:hover{
	background:black;
}
#jumon{
	height:2em;
}
#clear{
	z-index:1;
	display:none;
	font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-size:2em;
}
#clear:hover{
	background:black;
}
#enemy{
	width:20%;
	position:absolute;
	left:45%;
	top:10%;
}
#enemy-down{
	display:none;
	position:absolute;
	left:45%;
	top:10%;
	width:20%;
}
#magic{
	position:absolute;
	top:50%;
	left:10%;
}
#in{
  display:block;
  position:absolute;
	top:90%;
  background: #BDBDBD;
  width:20%;
  height:100%;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #BDBDBD;
  border: solid 2px rgba(255, 255, 255, 0.47);
}
#in:active{
  top:100%;
  outline:none;
}
#tue{
	width:100%;
	height:auto;
}
#clear-window{
  display:none;
  z-index:1;
  width:100%;
}
#yatta{
  display:block;
  position:absolute;
  top:40%;
  left:40%;
  z-index:1;
}

.kyoku {
	visibility: hidden;
	position: absolute;
}
