body {
    margin: 0px;
}
#back{
    background-color:gray;
    opacity:0.5;
    z-index:0;
}
#start{
    position:absolute;
    top:60%;
    left:40%;
    z-index:1;
	display: inline-block;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}

#pagestart{
    text-align: center;
}
#pageclear{
    position:absolute;
    top:40%;
    left:40%;
    z-index:1;
}
#clear-window{
    z-index:1;
	width:100%;
}
#clear{
    z-index:1;
    display: block;

    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#pagerestart{
    text-align: center;
}
#retry{
    top:60%;
    left:45%;
    z-index:1;

	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}

#q1{
    text-align: center;
    z-index:1;
    position:absolute;
    top:20%;
    left:15%;
    font-weight: bold;
    font-size: 40px;
}
#q2{
    text-align: center;
    z-index:1;
    position:absolute;
    top:20%;
    left:0;
    font-weight: bold;
    font-size: 40px;
}
#pagerestart{
    z-index:1;
}
#pagerestart > p{
    position:absolute;
    top:40%;
    left:35%;
    font-weight: bold;
    font-size: 40px;
}
#pagerestart > a{
    position:absolute;
    text-align: center;
    top:60%;
    left:40%;
}
#hpbar{
    width: 640px;
    background-color:#8a4b08;
    display: grid;
    grid-template-columns: 301px 40px 301px;
    grid-template-rows: 60px ;
}
#hp1{
    grid-row: 1;
    grid-column: 1;
    position:relative;
}
#hero-meter{
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    transform: scale(-1,1);
    width:85%;
    height:30px;
}
#hp1 > p{
    position:absolute;
    height:30px;
    width:85%;
    right:0;
    text-align:left;
    bottom:30px;
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
}
#hp2{
    grid-row: 1;
    grid-column: 3;
    position:relative;
}

#enemy-meter{
    position:absolute;
    left:0;
    bottom:0;
    width:85%;
    height:30px;
}
#hp2 > p{
    position:absolute;
    height:30px;
    width:85%;
    left:0;
    bottom:30px;
    margin: 0px;
    text-align:right;
    font-weight: bold;
    font-size: 25px;
}
#vs{
    text-align:center;
    font-weight: bold;
    font-size: 25px;
}
#wall{
    width: 640px;
    background:url("../game/4-6wall.png");
    display: grid;
    grid-template-columns: 640px;
    grid-template-rows: 60px ;
}

.canvas{
    position:absolute;
    width: 640px;
    background-color:#999;
    display: grid;
    grid-template-columns: 107px 107px 107px 107px 107px 107px;
    grid-template-rows: 100px 100px 100px ;
}
#canvas1{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 1;
}
#canvas2{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 2;
}
#canvas3{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 3;
}
#canvas4{
    grid-row: 1;
    border: 1px solid black;
    grid-column: 4;
}
#canvas5{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 5;
}
#canvas6{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 6;
}
#canvas7{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 1;
}
#canvas8{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 2;
}
#canvas9{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 3;
}
#canvas10{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 4;
}
#canvas11{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 5;
}
#canvas12{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 6;
}
#canvas13{
    grid-row: 3;
    grid-column: 1;
    border: 1px solid black;
}
#canvas14{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 2;
}
#canvas15{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 3;
}
#canvas16{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 4;
}
#canvas17{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 5;
}
#canvas18{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 6;
}


#maru {
    position:absolute;
    height:37px;
    width: 37px;
    top:0px;
    left:0px;
    grid-row: 2;
    grid-column: 2;
}
#patinko1 {
    position:absolute;
    top:15px;
    left:35px;
    height:37px;
    width: 37px;
    grid-row: 1;
    grid-column: 1;
    display:none;
}
#patinko2 {
    position:absolute;
    top:15px;
    left:35px;
    height:37px;
    width: 37px;
    grid-row: 1;
    grid-column: 1;
    display:none;
}
#patinko3 {
    position:absolute;
    top:15px;
    left:35px;
    height:37px;
    width: 37px;
    grid-row: 1;
    grid-column: 1;
    display:none;
}
#enemy{
    position:absolute;
    grid-row: 2;
    grid-column: 5;
    top:0px;
    left:0px;
}
#enemyattack{
    position:absolute;
    top:15px;
    left:35px;
    height:37px;
    width: 37px;
    grid-row: 1;
    grid-column: 6;
    display:none;
}
#button {
    position:absolute;
    display: grid;
    grid-template-columns: 60px 60px 60px 120px 120px;
    grid-template-rows: 59px 59px;
    top:420px;
    left:25vw;
}
#top {
    grid-row: 1;
    grid-column: 2;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#left {
    grid-row: 2;
    grid-column: 1;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#bottom{
    grid-row: 2;
    grid-column: 2;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#right {
    grid-row: 2;
    grid-column: 3;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:2em;
}
#input1 {
    grid-row: 1;
    grid-column: 5;
}
#action{
    grid-row:1;
    grid-column:4;
	color: #FFF;
	background: #00bcd4;
	transition: .4s;
	font-size:1.5em;
}
#action2{
    grid-row:2;
    grid-column:4;
}

