body {
    margin: 0px;
}
.canvas{
    background:#999;
    display: grid;
    grid-template-columns:100vw;
    grid-template-rows: 70vh;
}
#maru {
    grid-row: 1;
    grid-column: 1;
}
#maru img{
    position:relative;
    width:7vw;
    height:7vh;
}

.cross-layout {
    display: grid;
    grid-template-columns: 60px 60px 60px 120px 120px;
    grid-template-rows: 60px 60px;
}
#top {
    grid-row: 1;
    grid-column: 2;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#left {
    grid-row: 2;
    grid-column: 1;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#bottom{
    grid-row: 2;
    grid-column: 2;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#right {
    grid-row: 2;
    grid-column: 3;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#input1 {
    grid-row: 1;
    grid-column: 5;
}
#action{
    grid-row:1;
    grid-column:4;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}
#action2{
    grid-row:2;
    grid-column:4;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    font-size:2em;
}

.kyoku {
	visibility: hidden;
	position: absolute;
}
