body{
  margin:0px;
  padding:0px;
}
td{
  text-align:center;
	height:20vh;
  width:100vh;
  font-size:5em;
}
#back{
	background-color:gray;
	opacity:0.5;
	height:100vh;
	z-index:0;
}
#start{
	position:absolute;
	top:60%;
	left:50%;
	z-index:1;
}
#clear{
	position:absolute;
	top:60%;
	left:50%;
	z-index:1;
	display:none;
}

.box{
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../game/stage3back.png");
    background-size:cover;
    postion: relative;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
#enemy-zone{
	height:23vh;
}
#life-box{
	position:absolute;
	top:45%;
}
#fire{
  display:none;
  }
#water{
  display:none;
}
#leaf{
	display:none;
}
#damage{
	position:absolute;
	top:45%;
	left:45%;
	width:10%;
	display:none;
}
#chara{
	position:absolute;
	top:45%;
	left:45%;
	width:10%;
}
#select{
	height:5vh;
	width:100vh;
}
#fire-button{
	position:absolute;
	width:auto;
	height:5vh;
	margin:0 auto;
	left:15%;
}
#water-button{
	position:absolute;
	width:auto;
	height:5vh;
	margin:0 auto;
	left:45%;
}
#leaf-button{
	position:absolute;
	width:auto;
	height:5vh;
	margin:0 auto;
	left:75%;
}
#fire-gobrin{
	position:absolute;
	top:30%;
	left:14%;
}
#water-gobrin{
	position:absolute;
	top:30%;
	left:44%;
}
#leaf-gobrin{
	position:absolute;
	top:30%;
	left:74%;
}
#target{
	position:absolute;
	top:26%;
	display:none;
}
#fire-gobrin-down{
	position:absolute;
	top:30%;
	left:14%;
	display:none;
}
#water-gobrin-down{
	position:absolute;
	top:30%;
	left:44%;
	display:none;
}
#leaf-gobrin-down{
	position:absolute;
	top:30%;
	left:74%;
	display:none;
}
#keybord-fire{
	display:none;
	height:40vh;
	padding-top:5%;
}
#keybord-water{
	display:none;
	height:40vh;
	padding-top:5%;
}
#keybord-leaf{
	display:none;
	height:40vh;
	padding-top:5%;
}
#fire1{
  margin:0 auto;
  padding:0px;
  display:block;
  height:40vh;
  width:100vh;
}
#fire2{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#fire3{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#fire4{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#water1{
  margin:0 auto;
  padding:0px;
  display:block;
  height:40vh;
  width:100vh;
}
#water2{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#water3{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#water4{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#water5{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#leaf1{
  margin:0 auto;
  padding:0px;
  display:block;
  height:40vh;
  width:100vh;
}
#leaf2{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#leaf3{
  display:none;
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
#leaf4{
  margin:0 auto;
  padding:0px;
  display:none;
  height:40vh;
  width:100vh;
}
