h1 {
    width: 500px;
    float: left;
}

body {
	background-image: url("../game/navigation.png");
    background-color: gray;
	background-position:center center;
	background-repeat:no-repeat;
	width:100vw;
	margin:0px;
}

.button {
    text-align:right;
    float:right;
		margin-right:10px;
}

