h1 {
    width: 500px;
    padding: 0;
/*    float: left;*/
    display: inline;
}

body {
	background-image: url("../game/navigation.png");
	background-position: 50% 50%;
	background-repeat:no-repeat;
    background-color: lightblue;
	width:100%;
	margin:0px;
}
.button {
    text-align:right;
    float:right;
    margin-right:10px;
    margin-top: 15px;
}
.history_back_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}
.history_back_btn:hover{
    background: black;
}
.map_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}

.map_btn:hover {
    background: black;
}
