
body {
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../game/new-map1.png");
    background-color: black;
    background-size: contain;
		overflow-x:hidden;
}

.main {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    text-align: center;
}
#lake{
	display:none;
}
#volcano{
	display:none;
}
#tower{
	display:none;
}
#boss{
	display:none;
}
.show button {
    position: relative;
    top: -160px;
    right: 48px;
    width: 200px;
    height: 60px;
    font-size: 24px;
    background: black;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.show ul {
    position: absolute;
    top: 6px;
    right: 48px;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccc;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.7s;
}

.show ul.active {
    transform: perspective(1000px) rotateX(0deg);
}

.show ul li {
    list-style: none;
    width: 200px;
}

.show ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: #262626;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,2);
    transition: 0.5s;
}

.show ul li a:hover {
    background: #0d7ad0;
}

.show a {
    display: block;
    text-decoration: none;
}

.main div {
    visibility: hidden;
}

.main:hover div {
    visibility: visible;
}

.kyoku {
    visibility: hidden;
    position: absolute;
}

/*--------------Mori----------------*/
.stage-mori {
    position: relative;
    top: 250px;
    right: 225px;
}

.stage-mori button {
    top: -109px;
    right: 70px;
}

.stage-mori ul {
    top: 107px;
    right: 70px;
}

/*------------lake-------------------*/
.stage-lake {
    position:relative;
    top: 350px;
    left: 80px;
}

.stage-lake button {
    top: -110px;
    right: 75px;
}

.stage-lake ul {
    top: 106px;
    right: 75px;
}

/*--------------Volcano---------------*/
.stage-volcano {
    position:relative;
    top: 187px;
    left: 198px;
}

.stage-volcano button {
    top: -118px;
    right: 80px;
}

.stage-volcano ul {
    top: 98px;
    right: 80px;
}

/*--------------tower-----------------*/
.stage-tower {
    position:relative;
    top: 25px;
    left: -80px;
}

.stage-tower button {
	top: -120px;
	right: 78px;
}

.stage-tower ul {
	top: 96px;
	right: 78px;
}



/*--------------BOSS----------------*/
.stage-boss {
    position: relative;
    top: 265px;
    right: 45px;
}

.stage-boss button {
	top: -115px;
	right: 85px;
}

.stage-boss ul {
	top: 101px;
	right: 85px;
}

/*-----------------------------------*/
p {
	font-size: 280%;
	color: #800000;
}
