body{
    color: white;
    background-color: black;
    font-weight: bold;
}

.text1{
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
}

.text2 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 5s;
}

.text3 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 10s;
}
.text4 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 15s;
}
.text5 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 21s;
}
.text6 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 20s;
}
.text7 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 24s;
}


.button{
    position: absolute;
    width: 100%;
    text-align: center;
}

.next-button{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}

.next-button:hover{
    background-color: white;
    color: black;
}


@-webkit-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100% {opacity: 1;}
}


