body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.text1{
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
}

.text2 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 4s;
}

.text3 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 9s;
}
.text4 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 13s;
}
.text5 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 17s;
}
.text6 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 23s;
}
.text7 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 27s;
}
.text8 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 31s;
}
.text9 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 36s;
}


@-webkit-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100% {opacity: 1;}
}


