body{
    background-color: gray;
    color: white;
}
.text1{
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
}

.text2 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 2s;
}

.text3 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 6s;
}
.text4 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 9s;
}
.text5 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 13s;
}
.text6 {
    height: 40px;
    top: 5px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: ozDq 6s steps(70, end) forwards;
    animation-iteration-count:1;
    animation-delay: 17s;
}
@-webkit-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes ozDq {
    from { width: 0;}
    0% {opacity: 1;}
    100% {opacity: 1;}
}


