<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/game4-6.css" %}">
        <meta charset="utf-8">
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script type='text/javascript'>
            jQuery.curCSS = jQuery.css;
            var actionvalue = 0
            //ボタンのoff動作
            function buttonoff(){
                $("#action").prop("disabled", true);
                $("#action2").prop("disabled", true);
            }
            //上ボタンの処理
            function topbutton (){
                //現在のキャラの座標
                var input1 = $('#input1').val()
                //キャラの上の座標の取得
                var y = $('#maru').css('grid-row');
                y = (parseInt(y) - 1).toString();
                var x = $('#maru').css('grid-column');
                x = (parseInt(x)).toString();
                //キャラが進む方向に画像があれば,length==1を返す
                var go =
                    $('div').filter(function(){
                        return $.curCSS(this,"grid-row",true)==y
                            &&  $.curCSS(this,"grid-column",true)==x
                            &&  $.hasAttr("background")===true
                    }).attr('value','1');
                if(input1 == "12 4"){
                    $("#action").prop("disabled", false);
                    document.maru.src="{% static "game/character/top.gif" %}";
                }else if (go.length=='1') {
                    document.maru.src="{% static "game/character/top.gif" %}";
                    buttonoff();
                    $("div[value='1']").attr('value','');
                } else {
                    //方向キー入力時キャラ移動
                    var h = $('#maru').css('grid-row');
                    h = (parseInt(h) - 1).toString();
                    $('#maru').css('grid-row', h);
                    //方向キー入力時のキャラの画像変更&座標出力
                    document.maru.src="{% static "game/character/top.gif" %}";
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    $("div[value='1']").attr('value','');
                    buttonoff();
                    //調べるボタンの入力切り替え
                    if ($("#input1").val() == '12 4') {
                        $("#action").prop("disabled", false);
                    }
                }
            }
            //下ボタンの処理
            function bottombutton(){
                var input1 = $('#input1').val()
                var y = $('#maru').css('grid-row');
                y = (parseInt(y) + 1).toString();
                var x = $('#maru').css('grid-column');
                x = (parseInt(x)).toString();
                var go =
                    $('div').filter(function(){
                        return $.curCSS(this,"grid-row",true)==y
                            &&  $.curCSS(this,"grid-column",true)==x
                            &&  $.curCSS(this,"background",true)!=undefined
                    }).attr('value','1');
                if(input1 == '12 2') {
                    document.maru.src="{% static "game/character/bottom.gif" %}";
                    $("#action2").prop("disabled", false);
                }else  if (go.length=='1' )  {
                    document.maru.src="{% static "game/character/bottom.gif" %}";
                    buttonoff();
                    $("div[value='1']").attr('value','');
                } else {
                    var h = $('#maru').css('grid-row');
                    h = (parseInt(h) + 1).toString();
                    $('#maru').css('grid-row', h);
                    document.maru.src="{% static "game/character/bottom.gif" %}"
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    $("div[value='1']").attr('value','');
                    if ($("#input1").val() == '12 2') {
                        $("#action2").prop("disabled", false);
                    } else {
                        $("#action").prop("disabled", true);
                        $("#action2").prop("disabled", true);
                    }
                }
            }
            //右ボタンの処理
            function rightbutton(){
                var input1 = $('#input1').val()
                var y = $('#maru').css('grid-row');
                y = (parseInt(y)).toString();
                var x = $('#maru').css('grid-column');
                x = (parseInt(x) + 1).toString();
                var go =
                    $('div').filter(function(){
                        return $.curCSS(this,"grid-row",true)==y
                            &&  $.curCSS(this,"grid-column",true)==x
                            &&  $.curCSS(this,"background",true)!=undefined
                    }).attr('value','1');
                if (go.length=='1') {
                    document.maru.src="{% static "game/character/right.gif" %}";
                    buttonoff();
                    $("div[value='1']").attr('value','');
                } else {
                    var w = $('#maru').css('grid-column');
                    w = (parseInt(w) + 1).toString();
                    $('#maru').css('grid-column', w);
                    document.maru.src="{% static "game/character/right.gif" %}"
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    $("div[value='1']").attr('value','');
                    buttonoff();
                }
            }
            //左ボタンの処理
            function leftbutton(){
                var input1 = $('#input1').val()
                var y = $('#maru').css('grid-row');
                y = (parseInt(y)).toString();
                var x = $('#maru').css('grid-column');
                x = (parseInt(x) - 1).toString();
                var go =
                    $('div').filter(function(){
                        return $.curCSS(this,"grid-row",true)==y
                            &&  $.curCSS(this,"grid-column",true)==x
                            &&  $.curCSS(this,"background",true)!=undefined
                    }).attr('value','1');
                if (go.length=='1') {
                    document.maru.src="{% static "game/character/left.gif" %}";
                    buttonoff();
                    $("div[value='1']").attr('value','');
                } else {
                    var h = $('#maru').css('grid-column');
                    h = (parseInt(h) - 1).toString();
                    $('#maru').css('grid-column', h);
                    document.maru.src="{% static "game/character/left.gif" %}";
                    var leftandright = $('#maru').css('grid-row');
                    var upanddown = $('#maru').css('grid-column');
                    obj.value = String(parseInt(leftandright))+" "+String(parseInt(upanddown));
                    $("div[value='1']").attr('value','');
                    buttonoff();
                }
            }

            // ページ読み込み時に実行
            window.onload = function () {
                                    $("#pagestart").show();
                    $("#pageplaying").hide();
                    $("#pagestart a").on('click',function(){

                        $("#pagestart").hide();
                        $("#pageplaying").show();


                        return false;
                    });
                // 矢印ボタンのを各、値に代入
                var $left = document.getElementById( "left" );
                var $right = document.getElementById( "right" );
                var $top = document.getElementById( "top" );
                var $bottom = document.getElementById( "bottom" );
                obj = document.getElementById('input1');
                $top.onmousedown = function ( $event ) {

                    //上ボタンのクリック
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function top2(idname){
                                topbutton()
                            },
                            108//1秒間に108/120回繰り返す
                        );
                    }
                }
                // マウスアップイベント（ボタンを放した時のイベント）にイベントハンドラをバインド
                $top.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                    }
                }

                //下ボタンのクリック
                $bottom.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function bottom(idname){
                                bottombutton()
                            },
                            108
                        );
                    }
                }
                $bottom.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }

                //右ボタンのクリック
                $right.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function right(){
                                rightbutton()
                            },
                            108
                        );
                    }
                }
                $right.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }

                //左ボタンのクリック
                $left.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        $intervalID = setInterval(
                            function left(){
                                leftbutton()
                            },
                            108
                        );
                    }
                }
                $left.onmouseup = function ( $event ) {
                    if( $event.button == 0 ){
                        clearInterval( $intervalID );
                    }
                }
            }



            // キーコード(どのキーが押されたか)を取得
            window.addEventListener("keydown", handleKeydown);
            function handleKeydown(event){
                var keyCode = event.keyCode;
                // 条件文で制御する
                //上キーの入力
                if (keyCode == 38) {topbutton()}
                //下キーの入力
                if (keyCode == 40) {bottombutton()}
                //右キーの入力
                if (keyCode == 39) {rightbutton()}
                //左キーの入力
                if (keyCode == 37) {leftbutton()}
            }

            //調べるボタンのHTML表示とサイズ指定
            function win_open(){
                window.open("http://localhost:8080/stage4-1/see4-1","","width=200,height=200");
            }
            //入力ボタンのHTML表示とサイズ指定
            function input(){
                window.open("http://localhost:8080/stage4-1/input4-1","","width=200,height=200");
            }


        </script>
    </head>
    <body>
            <div id='pagestart'>
                    <a><input type='button' value='start' ></a>
            </div>
        <div  id='pageplaying'>

        <div class="canvas">
            <div id="maru">
                <img src="{% static "game/character/bottom.gif" %}" name="maru">
            </div>
            <div id="canvas1"></div>
            <div id="canvas2"></div>
            <div id="canvas3"></div>
            <div id="canvas4"></div>
            <div id="canvas5"></div>
            <div id="canvas6"></div>
            <div id="canvas7"></div>
            <div id="canvas8"></div>
            <div id="canvas9"></div>
            <div id="canvas10"></div>
            <div id="canvas11"></div>
            <div id="canvas12"></div>
            <div id="canvas13"></div>
            <div id="canvas14"></div>
            <div id="canvas15"></div>
            <div id="canvas16"></div>
            <div id="canvas17"></div>
            <div id="canvas18"></div>
        </div>
        <div id='button' class="cross-layout">
            <button id="top" >￪</button>
            <button id="left" >￩</button>
            <button id="bottom" >￬</button>
            <button id="right" >￫</button>
            <input type="text" id="input1" autocomplete="off" value="1 2">
            <input type="submit" id="action" value="調べる" onclick="win_open()" disabled>
            <input type="submit" id="action2" value="入力" onclick="input()" disabled>
        </div>
        </div>
    </body>
</html>
