<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game1-1.css' %}">
        <script type="text/javascript" src="{% static 'js/game1-1.js' %}"></script>
    </head>
    <body onload="firstscript();">
        <div class="box">
					<table class="table" width="100%">
						<tr>
							<td width="30%" heigh="auto"></td>
							<td class="enemy" width="40%">
								<img src="{% static 'game/enemy-down.png' %}" id="enemy-down" width="30%" height="auto">
								<img src="{% static 'game/1-1enemy.gif' %}" id="enemy-img" width="100%" height="auto">
							</td>
							<td width="30%"><meter id="enemy-meter" max="200" low="40" high="140" optimum="200" value="200" ></meter><p id="hp">200</p></td>
						</tr>
					</table>
				<br clear="left">
				<div class="meter">
					<meter id="meter" max="100" low="50" high="80" optimum="0" value="0"></meter><p id="str">パワー:<nobr id="power">0</nobr></p>
				</div>
					<div class="button">
						<button onclick='onClick();' id="attack" style="width:100px;height:50px"><font size="4">ボタン</font></button>
							<div id="next">
								<a href="http://localhost:8080/stage1-1/nextstory1-1" target="story1-1" ><button style="width:100px;height:50px"><font size="4">Next</font></button></a>
							</div>
						</div>
				</div>
    </body>
</html>
