<!DOQTYPE HTML>
<html>
	<head>
		<title></title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/game1-1.css' %}">
		<script type="text/javascript" src="{% static 'js/game1-1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	</head>
	<body onload="firstscript();">
		<button id="start" onclick="start();">スタート</button>
		<a href="http://localhost:8080/stage1-1/nextstory1-1" target="story1-1" ><button id="clear" onclick="mapclick();">次の話</button></a>
		<div id="back">
			<div class="box">
				<img src="{% static 'game/enemy-down.png' %}" id="enemy-down" width="25%" height="auto">
				<img src="{% static 'game/1-1enemy.gif' %}" id="enemy-img" width="30%" height="auto">
				<img src="{% static 'game/enemy-damage.gif' %}" id="enemy-damage" width="22%" height="auto">
				<img src="{% static 'game/stone.png' %}" id="stone" width="5%" height="auto">
				<!--!>敵HPメーター<!--!>
	    <meter id="enemy-meter" max="200" low="40" high="140" optimum="200" value="200" ></meter><p id="hp">200</p>
	    <!--!>攻撃用メーター<!--!>
	     <meter id="meter" max="100" low="50" high="80" optimum="0" value="0"></meter><p id="str">パワー:<nobr id="power">0</nobr></p>
			 <button onclick='onClick();se()' id="attack"><img src="{%static 'game/1-1attack-button.png'%}"></button>
	 </div>
		 </div>
	</body>
</html>
