<!DOCTYPE html>
<html>
  <head lang="ja">
        <meta charset="UTF-8">
            <title></title>
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
  </head>
  <body>
			<h1>1-1 始まりの森</h1>
<!--
	    <div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/map.m4a' %}";
			setTimeout(roop, 131000);
		}
	</script>
	-->
  </body>
</html>
