<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory1-1.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">たおしてくれてありがとう！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">どういたしまして！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">ちょっと聞きたいんだけど、ここはどこで、なんであんな化物がいるの？</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">ここは「ハッカー島」、少し前までは平和な島だったの。</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">でも突然、悪のそしきがきて、化物たちが出てくるようになってしまったの・・・</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">そこで、私の声が聞こえたあなたにこの島を助けてほしくてこの島によんだの！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">リト、お願い、悪のそしきのボスをたおしてこの島を助けて！</p>
    </div>
    <div class="button">
        <a href="http://localhost:8080/stage1-2" target="_parent" class="next-button">次のステージへ</a>
    </div>
  </body>
</html>
