<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory1-3.css" %}" />
    <div class="textboard">
        <p class="text1"><img src="{% static 'game/fairy.png' %}">バケモノをたおしたわ！</p>
        <p class="text2"><img src="{% static 'game/fairy.png' %}">このままボスもたおしに行きましょう！</p>
        <p class="text3"><img src="{% static 'game/fairy.png' %}">スクロールはこれからも使うから忘れないでね！</p>
        <p class="text4"><img src="{% static 'game/fairy.png' %}">!!!</p>
        <p class="text5"><img src="{% static 'game/fairy.png' %}">またバケモノよ！　気をつけて！</p>
    </div>
  </body>
</html>
