<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story1-3.css" %}" />
    <div class="textboard">
        <p class="text1"><img src="{% static 'game/fairy.png' %}">またバケモノが来たわ！</p>
        <p class="text2"><img src="{% static 'game/rito.png' %}">次から次へと・・・</p>
        <p class="text3"><img src="{% static 'game/fairy.png' %}">さっき作った武器でたたかいましょう！</p>
        <p class="text4"><img src="{% static 'game/fairy.png' %}">スクロールで狙いを定めて攻撃ボタンを押して！</p>
        <p class="text5"><img src="{% static 'game/fairy.png' %}">スクロールとは、ページを上下左右に移動することよ！</p>
        <p class="text6"><img src="{% static 'game/fairy.png' %}">がんばって！！！</p>
    </div>

	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/1-1.3.4.m4a' %}";
			setTimeout(roop, 131000);
		}
	</script>

  </body>
</html>
