<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory4-3.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">あんな大きな声でパスワードについて話してるなんて・・・</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">あんなことしてたら丸聞こえじゃないか！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">そうね、パスワードや重要なことについて話すなら、</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/air.png' %}">誰も居ない部屋で話すか、ちゃんと周りを確認してから話すべきね</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">リトも気をつけるのよ！</p>
    </div>
    
    <div class="button">
        <a href="http://localhost:8080/stage4-4" target="_parent" class="next-button">次のステージへ</a>
    </div>

  </body>
</html>
