<!DOCTYPE html>
<html>
    <head lang="ja">
        <meta charset="UTF-8">
        {% load static %}
        <title>パスワードを見つけて</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style4-3.css" %}" />


    </head>
    <body>
        <img id="stealth"  src="{% static "game/stealth.png" %}" >
        <a id='close' href="#" onClick="window.close();"><button style="background:#00bcd4;color:#FFF">ウィンドウを閉じる</button></a><br/>


        <div class="textboard">
            <p class="text1" id='text1'><font color="red">がいこつ1:</font>なぁなぁ　ここのパスワードって「4321」だっけ？</p>
            <p class="text2" id='text2'><font color="blue">がいこつ2:</font>まちがってるよ</p>
        </div>

        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script type='text/javascript'>
            $(function(){
            var val = Math.round( Math.random()*8192);
                for(var a=0; val != 0; a++){
            var val = Math.round( Math.random()*8192);
                }
            console.log(a);
            });

            setTimeout(one,8000);
            function one(){
                document.getElementById("text1").innerHTML="<font color='blue'>がいこつ2:</font>まちがってるよ";
                document.getElementById("text2").className="text3";
                document.getElementById("text2").innerHTML="<font color='red'>がいこつ1:</font>正解は？";
                setTimeout(two,3000);
            }

            function two(){
                document.getElementById("text1").innerHTML="<font color='red'>がいこつ1:</font>正解は？";
                document.getElementById("text2").className="text4";
                document.getElementById("text2").innerHTML="<font color='blue'>がいこつ2:</font>「1234」だよ";
            }

        </script>






    </body>
</html>
