<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-3.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">次はどこにヒントがあるかしら</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">ガイコツがいっぱいだね・・・</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">ん？</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">話声が聞こえる・・・</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">たしかに、聞こえるわね。近くまでいって聞いてみましょう！</p>
    </div>

	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/4-3.m4a' %}";
			setTimeout(roop, 131000);
}
	</script>

  </body>
</html>
