<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game2-2.css' %}">
        <script type="text/javascript" src="{% static 'js/game2-2.js' %}"></script>
    </head>
    <bode>
				<button onclick="gameSet();count()" id="start">start</button>
			<div id="back">
				<div id="box">
						<p id="breath">30</p>
						<table id="treasure">
							<tr>
								<td id="word0">T</td>
								<td id="word1">R</td>
								<td id="word2">E</td>
								<td id="word3">A</td>
								<td id="word4">S</td>
								<td id="word5">U</td>
								<td id="word6">R</td>
								<td id="word7">E</td>
							</tr>
						</table>
						<table id="key">
							<tr>
								<td id="word20">K</td>
								<td id="word21">E</td>
								<td id="word22">Y</td>
							</tr>
						</table>
					<div id="dive">
						<img id="chara" src="{% static 'game/escape-chara.gif' %}">
						<img id="chest" src="{% static 'game/chest.gif' %}">
						<img id="water-back" src="{% static 'game/water-back.gif' %}">
					</div>
					<div id="keybord">
						<img id="key1" src="{% static 'game/keybord-t.png' %}">
						<img id="key2" src="{% static 'game/keybord-r.png' %}">
						<img id="key3" src="{% static 'game/keybord-e.png' %}">
						<img id="key4" src="{% static 'game/keybord-a.png' %}">
						<img id="key5" src="{% static 'game/keybord-s.png' %}">
						<img id="key6" src="{% static 'game/keybord-u.png' %}">
						<img id="key7" src="{% static 'game/keybord-r.png' %}">
						<img id="key8" src="{% static 'game/keybord-e.png' %}">
					</div>
					<div id="keybord2">
						<img id="key21" src="{% static 'game/keybord-k.png' %}">
						<img id="key22" src="{% static 'game/keybord-e.png' %}">
						<img id="key23" src="{% static 'game/keybord-y.png' %}">
					</div>
				</div>
			</div>
    </body>
</html>
