<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory2-2.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">宝箱に入っていたよ！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">やっぱり水のオーブね！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">これで２つめ、この調子で今度は火のオーブを探しましょう！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">うん、わかった！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">!!!</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">リト、気をつけて！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">バケモノが近くにいる感じがする！</p>
    </div>
  </body>
</html>
