<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story2-2.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">この湖にまちがいないわ！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">!!!</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">湖の中に宝箱がある！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">あの中にオーブがありそうね・・・取りに行きましょう！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">さっきと同じように指定された文字をうつと前にすすめるわ！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">でも、水の中はあまり息が続かないから、急いでね！</p>
    </div>
  </body>
</html>
