<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story2-1.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">リト、この先に水のオーブの力を感じるわ</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">!!!</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">さっきのゴブリンの仲間が追いかけてきた！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">キリがないわね・・・ここはとりあえず逃げましょう！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">右のゲーム画面で指定された文字をうつと前にすすめるわ！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">追いつかれないようになるべく早く文字をうちましょう！</p>
    </div>
  </body>
</html>
