<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    {% load static %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script type='text/javascript'>
            $(function(){
                $("#gomi>*").draggable({
                    containment: 'parent',
                    scroll: false,
                });
            });

        </script>


        <style type="text/css">

body {
    background-repeat: no-repeat;
}
#gomi{
    width:520px;
    height:400px;
}
        </style>


        <title>パスワードを見つけて</title>
    </head>
    <body background="{% static "game/4-2gomibox.png" %}" >
        <div id="gomi">
            <div id="gomi">

                <img src="/static/game/4-2gomi2.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: 67px; top: 52px;"><img src="/static/game/4-2gomi2.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -21px; top: 146px;">
                <img src="/static/game/4-2gomipw.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: 1px; top: 85px;">
                <img src="/static/game/4-2gomi2.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -124px; top: 170px;">
                <img src="/static/game/4-2gomi2.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -255px; top: 64px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: 27px; top: -31px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -70px; top: 97px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -146px; top: -8px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -188px; top: 3px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: 0px; top: -61px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -135px; top: -176px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -181px; top: -144px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: 53px; top: -142px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -33px; top: -279px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -85px; top: -260px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -140px; top: -148px;">
                <img src="/static/game/4-2gomi.png" class="ui-draggable ui-draggable-handle" style="position: relative; left: -143px; top: -155px;">
            </div>
        </div>

        <a href="#" onclick="window.close();">ウィンドウを閉じる</a>
      </body>
</html>
