<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-2.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">今度はどこにドアのカギを解除するヒントがあるかしら、</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">さっきはパソコンにパスワードが書いてある紙が貼られてたね・・・</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">使い終わったらその紙は捨てるかもしれないわね・・・</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">捨てるっていうことは・・・</p>
    </div>

	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/4.m4a' %}";
			setTimeout(roop, 131000);
		}
	</script>
  </body>
</html>
