<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game1-4.css' %}">
        <script type="text/javascript" src="{% static 'js/game1-4.js' %}"></script>
    </head>
    <body onload="load();">
			<button id="start" onclick="start();">start</button>
				<div id="back">
				<div class="box">
					<img src="{% static 'game/gobrin.gif' %}" id="enemy">
					<img src="{% static 'game/gobrin-down.png' %}" id="enemy-down">
					<div id="magic">
						<p>呪文:<input method="post" type="text" name="password" size="40" id="jumon"></p>
						<input type="submit" value="唱える" id="in" onclick="check();">
					</div>
					<div id="button">
						<a href="http://localhost:8080/stage1-4/nextstory1-4" target="story1-4" ><button id="next" style="width:100px;height:50px"><font size="4">Next</font></button></a>
					</div>
				</div>
			</div>
    </body>
</html>
