<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game1-4.css' %}">
        <script type="text/javascript" src="{% static 'js/game1-4.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
    </head>
    <body onload="load();">
			<button id="start" onclick="start();">スタート</button>
			<img src="{% static 'game/right_click.png' %}" id="right">
			<div id="yatta">
				<img src="{% static 'game/clear-window_green.gif' %}" id="clear-window">
				<a href="http://localhost:8080/stage1-4/nextstory1-4" target="story1-4"><button id="clear" onclick="mapclick2(4);">次の話</button></a>
    </div>
				<div id="back">
				<div class="box">
					<img src="{% static 'game/leaf-gobrin.gif' %}" id="enemy">
					<img src="{% static 'game/gobrin-down.png' %}" id="enemy-down">
					<div id="magic">
						<p>呪文:<input method="post" type="text" name="password" size="40" id="jumon"></p>
						<button id="in" onclick="check();se()"><img src="{%static 'game/magic.png'%}" id="tue"></button>
					</div>
					</div>
				</div>
			</div>

	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/1-1.3.4.m4a' %}";
			setTimeout(roop, 115000);
		}
	</script>
    </body>
</html>
