<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story1-4.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">リト、バケモノよ！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">ん？　あれは今までとちがう・・・</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">あれは・・・ゴブリン・・・</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">ここは魔法でたおしましょう！　火の魔法を教えるわ！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">fire　これが火の魔法よ！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">fireをドラッグで選択して、右クリックでメニューを開いて！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">そして、コピーを選択、そのあとゲーム画面の魔法をとなえる場所の上で</p>
        <p class="text8" id="text8Id"><img src="{% static 'game/air.png' %}">また右クリックして、貼り付けを選択して、魔法のボタンをおして！</p>
        <p class="text9" id="text9Id"><img src="{% static 'game/fairy.png' %}">すこしむずかしいけど、がんばって！</p>
    </div>

	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/1-1.3.4.m4a' %}";
			setTimeout(roop, 131000);
}
	</script>

  </body>
</html>
