<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game1-2.css' %}">
        <script type="text/javascript" src="{% static 'js/game1-2.js' %}"></script>
    </head>
    <body>
        <div class="box">
					<div itemContainer>
						<div class="item">
							<div  class="dragwrapper" id="drop" ondragover="DragOver(event)" ondrop="Drop(event)" >
								<img src="{% static 'game/wepon1.png' %}" class="dragimg" id="a" draggable="true" ondragstart="DragStart(event)">
							</div>
								<div id="drop1" class="drop" ondragover="DragOver(event)" ondrop="Drop1(event)"></div>
								<div id="drop2" class="drop" ondragover="DragOver(event)" ondrop="Drop2(event)"></div>
								<div id="drop3" class="drop" ondragover="DragOver(event)" ondrop="Drop3(event)"></div>
						</div>

						<div class="item">
							<div  class="dragwrapper" id="drop" ondragover="DragOver(event)" ondrop="Drop(event)" >
								<img src="{% static 'game/wepon2.png' %}" class="dragimg" id="b" draggable="true" ondragstart="DragStart(event)">
							</div>
						</div>

						<div class="item">
							<div  class="dragwrapper" id="drop" ondragover="DragOver(event)" ondrop="Drop(event)" >
								<img src="{% static 'game/wepon3.png' %}" class="dragimg" id="c" draggable="true" ondragstart="DragStart(event)">
							</div>
						</div>
						<a href="http://localhost:8080/stage1-2/wepon" target="game1-2" ><button id="next" style="width:100px;height:50px"><font size="4">完成！</font></button></a>
					</div>


        </div>
    </body>
</html>
