<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory1-2.css" %}" />
    <div class="textboard">
        <p class="text1"><img src="{% static 'game/fairy.png' %}">パチンコができたわ！　これで戦える！</p>
        <p class="text2"><img src="{% static 'game/fairy.png' %}">これからもドラッグ、ドロップは使うかもしれないから覚えておいて！</p>
        <p class="text3"><img src="{% static 'game/fairy.png' %}">!!!</p>
        <p class="text4"><img src="{% static 'game/fairy.png' %}">さっそくバケモノがきそう！　気をつけて！</p>
    </div>
    <div class="button">
        <a href="http://localhost:8080/stage1-3" target="_parent" class="next-button">次のステージへ</a>
    </div>
  </body>
</html>
