<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <div class="textboard">
        <p class="text1"><img src="{% static 'game/rito.png' %}">この島を助けてくれる？</p>
        <p class="text2"><img src="{% static 'game/fairy.png' %}">困ってるのをほっとけいからできることをやってみるよ！</p>
        <p class="text3"><img src="{% static 'game/rito.png' %}">リト、ありがとう！</p>
        <p class="text4"><img src="{% static 'game/rito.png' %}">さっそくなんだけど、さすがに武器なしで悪と戦うのはきびしい。</p>
        <p class="text5"><img src="{% static 'game/rito.png' %}">だから、武器を作りましょう！</p>
        <p class="text6"><img src="{% static 'game/rito.png' %}">武器の部品をドラッグ、ドロップして武器作成エリアまで持っていって！</p>
        <p class="text7"><img src="{% static 'game/fairy.png' %}">ドラッグは左クリックをおしたまんまでマウスを動かすこと。</p>
        <p class="text8"><img src="{% static 'game/fairy.png' %}">ドロップは、ドラッグしたあとに左クリックをはなすことよ。</p>
        <p class="text9"><img src="{% static 'game/fairy.png' %}">あとは合成ボタンを押せば完成よ！</p>
    </div>
  </body>
</html>
