<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/boss2.css" %}">
        <meta charset="utf-8">
        <script type='text/javascript'  src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script  src="{% static "js/jquery.easing.1.3.js" %}"></script>
        <script type='text/javascript'>
            //heroの初期位置
            var heroy = 60; //heroの座標y軸
            var addnumy = 4; //ジャンプ力
            var jumpcut = 0; //カウント変数
            var groundposy = 60; //地面の座標
            var max_gravity = 10; //落下速度の最速
            var herox = 10; // heroの座標x軸
            var stoprun = 0; //行動中は他の
            var jumpval = 0; //jump中の検知

            //上ボタンの処理
            function topbutton (){
                if(jumpval == 0){
                    jumpval = 1;
                    var jump = setInterval(function(){
                        heroy -= addnumy;
                        $('#maru img').css({'top': heroy+'%'});
                        if(jumpcut++ % 2 == 0){
                            addnumy -= 0.4;
                            if(addnumy < -max_gravity){
                                addnumy = -max_gravity;
                            }
                        }
                        if(heroy > groundposy){
                            addnumy = 4;
                            heroy = groundposy;
                            $('#maru img').css({'top': heroy+'%'});
                            jumpval = 0;
                            clearInterval(jump);
                        }
                    },16)
                }
            }
            //下ボタンの処理
            function bottombutton(){
            }
            //右ボタンの処理
            function rightbutton(){
                count = 0;
                if(stoprun == 0){
                    stoprun = 1;
                    clearInterval(run);
                    console.log('gggg')
                    var run = setInterval(function(){
                        if((parseFloat($('#maru img').css('left'))+parseFloat($('#maru img').width())) < parseFloat($('#enemy img').css('left'))||(parseFloat($('#maru img').css('left'))+parseFloat($('#maru img').width())) > parseFloat($('#enemy img').css('left'))+parseFloat($('#enemy img').width())||(parseFloat($('#maru img').css('top'))+parseFloat($('#maru img').height())) > parseFloat($('#enemy img').css('top'))){
                console.log('gggg')
                if(herox < 88){
                herox = (parseInt(herox) + 1).toString();
                $('#maru img').css({'left': herox+'%'});
                count ++;
                if(count == 3){
                clearInterval(run);
                stoprun = 0;
                }}else{
                clearInterval(run);
                stoprun = 0;
                }}else{
                clearInterval(run);
                stoprun = 0;
                }},32)
                }
                }
                //左ボタンの処理
                function leftbutton(){
                count = 0;
                if(stoprun == 0){
                stoprun = 1;
                clearInterval(run);
                console.log('gggg')
                var run = setInterval(function(){
                if(herox > 0){
                    herox = (parseInt(herox) - 1).toString();
                    console.log(herox)
                    $('#maru img').css({'left': herox+'%'});
                    count ++;
                    if(count == 3){
                        clearInterval(run);
                        stoprun = 0;
                    }}else{
                        clearInterval(run);
                        stoprun = 0;
                    }},32)
                }
                }
            // ページ読み込み時に実行
            window.onload = function () {
                // 矢印ボタンのを各、値に代入
                var $left = document.getElementById( "left" );
                var $right = document.getElementById( "right" );
                var $top = document.getElementById( "top" );
                var $bottom = document.getElementById( "bottom" );
                obj = document.getElementById('input1');
                keyvalue = 0;
                var $intervalID;
                $top.onmousedown = function ( $event ) {
                    //上ボタンのクリック
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function top2(idname){
                                keyvalue ++
                                topbutton()
                            },108//1秒間に108/120回繰り返す
                        );}}
                // マウスアップイベント（ボタンを放した時のイベント）にイベントハンドラをバインド
                $top.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        topbutton()
                    }else{clearInterval( $intervalID );}}
                //下ボタンのクリック
                $bottom.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function bottom(idname){
                                keyvalue ++
                                bottombutton()
                            },108);}}
                $bottom.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        bottombutton()
                    }else{clearInterval( $intervalID );}}
                //右ボタンのクリック
                $right.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function right(){
                                keyvalue ++
                                rightbutton()
                            },108);}}
                $right.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        rightbutton()
                    }else{clearInterval( $intervalID );}}
                //左ボタンのクリック
                $left.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function left(){
                                keyvalue ++
                                leftbutton()
                            },108);}}
                $left.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        leftbutton()
                    }else{clearInterval( $intervalID );}}}            // キーコード(どのキーが押されたか)を取得

            window.addEventListener('keydown', KeyDown, true);
            window.addEventListener('keyup', KeyUp, true);
            var g_bUpPush =false;
            var g_bDownPush =false;
            var g_bRightPush =false;
            var g_bLeftPush =false;
            function KeyDown(event) {
                var code = event.keyCode;       // どのキーが押されたか

                switch(code) {
                        // ←キー
                    case 37:
                        g_bLeftPush = true;
                        break;
                        // →キー
                    case 39:
                        g_bRightPush = true;
                        break;
                        // ↑キー
                    case 38:
                        g_bUpPush = true;
                        break;
                        // ↓キー
                    case 40:
                        g_bDownPush = true;
                        bottombutton()
                        //event.preventDefault();   // なんだこれ?
                            break;
                }
            }

            /*
                キーを離した時のイベント
                */
                function KeyUp(event) {
                    code = event.keyCode;
                    switch(code) {
                            // ←キー
                        case 37:
                            g_bLeftPush = false;
                            break;
                        case 39:
                            // →キー
                            g_bRightPush = false;
                            break;
                        case 38:
                            // ↑キー
                            g_bUpPush = false;
                            break;
                        case 40:
                            // ↓キー
                            g_bDownPush = false;
                            break;
                    }
                }

            (function(){
                // targetを監視してtrueになったら関数を実行
                (function observe(){
                    if (g_bUpPush == false) {
                        console.log(parseInt($('#maru img').css('left'))+parseInt($('#maru img').width()))
                        console.log(parseInt($('#enemy img').css('left')))
                        setTimeout(observe, 192);
                    } else {
                        topbutton()
                        setTimeout(observe, 192);
                    }
                })();
                (function observe(){
                    if (g_bRightPush == false) {
                        setTimeout(observe, 96);
                    } else {
                        rightbutton()
                        setTimeout(observe, 96);
                    }
                })();
                (function observe(){
                    if (g_bLeftPush == false) {
                        setTimeout(observe, 96);
                    } else {
                        leftbutton()
                        setTimeout(observe, 96);
                    }
                })();
            })();
        </script>
    </head>
    <body>
        <div id='back'>
            <div  id='pageplaying'>
                <div id='hpbar'>
                    <div id='hp1'><p>リト</p><meter id='hero-meter' max='200' low='40' high='140' optimum='200' value='200'></div>
                    <div id='hp2'><p>BOSS</p><meter id='enemy-meter' max='200' low='40' high='140' optimum='200' value='200'></div>
                    <div id='vs'><p>VS</p></div>
                </div>
                <div id='wall'>
                    <img src="{% static "game/4-6wall.png" %}">
                </div>
                <div class="canvas">
                    <div id="maru">
                        <img src="{% static "game/character/right.gif" %}" name="maru">
                    </div>
                    <div id="enemy">
                        <img src="{% static "game/character/enemyleft.gif" %}" name='enemy'>
                    </div>
                </div>
                <div id="canvas1"></div>
            </div>
            <div id='button' class="cross-layout">
                <button id="top"onclick="top" >￪</button>
                <button id="left" >￩</button>
                <button id="bottom" >￬</button>
                <button id="right" >￫</button>
                <input type="text" id="input1" autocomplete="off" value="2 2">
                <input type="submit" id="action" value="パチンコ" onclick="win_open()">
            </div>
        </div>
        </div>
        </div>
    </body>
</html>
