<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/boss2.css" %}">
        <meta charset="utf-8">
        <script type='text/javascript'  src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script  src="{% static "js/jquery.easing.1.3.js" %}"></script>
        <script type='text/javascript'>
            //heroの初期位置
            var heroy = 60; //heroの座標y軸
            var addnumy = 4; //ジャンプ力
            var jumpcut = 0; //カウント変数
            var groundposy = 60; //地面の座標
            var max_gravity = 10; //落下速度の最速
            var herox = 10; // heroの座標x軸
            var stoprun = 0; //行動中は他の
            var jumpval = 0; //jump中の検知

            //上ボタンの処理
            function topbutton (){
                if(jumpval == 0){
                    jumpval = 1;//jump中にする
                    var jump = setInterval(function(){
                        var herobottom = Math.round((parseInt($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの下側
                        var enemytop = Math.round((parseInt($('#enemy img').css('top'))) / parseInt($('.canvas').height())*100)//enemyの上側
                        var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                        var heroleft = Math.round((parseInt($('#maru img').css('left')) / $('.canvas').width())*100)//heroの左側
                        var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                        var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                        heroy -= addnumy;//heroの位置からaddnumy分の数字を引く
                        $('#maru img').css({'top': heroy+'%'});//heroの位置を挿入する
                        if(jumpcut++ % 2 == 0){//jumpcutが２で割れたら実行
                            addnumy -= 0.3;//addnumyから引いていく
                            if(addnumy < -max_gravity){//max_gravityよりもaddnumyが小さくなったら実行
                                addnumy = -max_gravity;//addnumyにmax_gravityと同じ値を格納
                            }
                        }
                        if(heroy > groundposy){//heroが地面以下ついたら実行
                            addnumy = 4;//jump力を元に戻す
                            heroy = groundposy;//heroの位置を地面に戻す
                            $('#maru img').css({'top': heroy+'%'});
                            jumpval = 0;//jump中を解除
                            clearInterval(jump);//setIntervaleを解除
                            if(heroright >= enemyleft && heroright <= enemyright){//heroとenemyの位置が被ったらhero左寄りなら左に寄せる
                                herox = Math.round((parseInt($('#enemy img').css('left'))-$('#maru img').width()) / parseInt($('.canvas').width())*100) -1
                                $('#maru img').css({'left': herox+'%'});
                            }else if(heroleft <= enemyright && heroleft >= enemyleft){//heroとenemyの位置が被ったらhero右寄りなら右に寄せる
                                herox = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100) +1
                                $('#maru img').css({'left': herox+'%'});
                            }
                        }
                    },16)
                }
            }
            //下ボタンの処理
            function bottombutton(){
            }
            //右ボタンの処理
            function rightbutton(){
                count = 0;
                if(stoprun == 0){
                    stoprun = 1;
                    clearInterval(run);
                    var run = setInterval(function(){
                        var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                        var heroleft = Math.round((parseInt($('#maru img').css('left')) / $('.canvas').width())*100)//heroの左側
                        var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                        var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                        var jump = Math.round((parseFloat($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの下側
                        var enemytop = Math.round(parseInt($('#enemy img').css('top'))/$('.canvas').height()*100)//enemyの上側
                        if(heroright < enemyleft
                            ||heroleft > enemyright
                            ||jump < enemytop  ){
                            if(herox > 0){
                                herox = (parseInt(herox) + 1).toString();
                                $('#maru img').css({'left': herox+'%'});
                                count ++;
                                if(count == 4){//1pushで4vw動く
                                    herox = (parseInt(herox) - 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }}else{
                                    herox = (parseInt(herox) - 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }}else{
                                    herox = (parseInt(herox) - 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }},24)
                }
            }
            //左ボタンの処理
            function leftbutton(){
                count = 0;
                if(stoprun == 0){
                    stoprun = 1;
                    clearInterval(run);
                    var run = setInterval(function(){
                        var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                        var heroleft = Math.round((parseInt($('#maru img').css('left')) / $('.canvas').width())*100)//heroの左側
                        var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//nemyの右側
                        var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                        var jump = Math.round((parseFloat($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの下側
                        var enemytop = Math.round(parseInt($('#enemy img').css('top'))/$('.canvas').height()*100)//enemyの上側
                        if(heroright < enemyleft
                            ||heroleft > enemyright
                            ||jump < enemytop  ){
                            if(herox > 0){
                                herox = (parseInt(herox) - 1).toString();
                                $('#maru img').css({'left': herox+'%'});
                                count ++;
                                if(count == 4){//1pushで4vw動く
                                    herox = (parseInt(herox) + 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }}else{
                                    herox = (parseInt(herox) + 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }}else{
                                    herox = (parseInt(herox) + 1).toString();
                                    $('#maru img').css({'left': herox+'%'});
                                    clearInterval(run);
                                    stoprun = 0;
                                }},24)
                }
            }

            // ページ読み込み時に実行
            window.onload = function () {
                $('#patinko1').hide();
                $('#patinko2').hide();
                $('#patinko3').hide();
                $('#herosword').hide();
                // 矢印ボタンのを各、値に代入
                /*                var $left = document.getElementById( "left" );
                var $right = document.getElementById( "right" );
                var $top = document.getElementById( "top" );
                var $bottom = document.getElementById( "bottom" );
                obj = document.getElementById('input1');
                keyvalue = 0;
                var $intervalID;
                $top.onmousedown = function ( $event ) {
                    //上ボタンのクリック
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function top2(idname){
                                keyvalue ++
                                topbutton()
                            },108//1秒間に108/120回繰り返す
                        );}}
                // マウスアップイベント（ボタンを放した時のイベント）にイベントハンドラをバインド
                $top.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        topbutton()
                    }else{clearInterval( $intervalID );}}
                //下ボタンのクリック
                $bottom.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function bottom(idname){
                                keyvalue ++
                                bottombutton()
                            },108);}}
                $bottom.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        bottombutton()
                    }else{clearInterval( $intervalID );}}
                //右ボタンのクリック
                $right.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function right(){
                                keyvalue ++
                                rightbutton()
                            },108);}}
                $right.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        rightbutton()
                    }else{clearInterval( $intervalID );}}
                //左ボタンのクリック
                $left.onmousedown = function ( $event ) {
                    if( $event.button == 0 ){
                        keyvalue = 0;
                        clearInterval( $intervalID );
                        $intervalID = setInterval(
                            function left(){
                                keyvalue ++
                                leftbutton()
                            },108);}}
                $left.onmouseup = function ( $event ) {
                    if( $event.button == 0 && keyvalue == 0){
                        // 繰り返しタイマーを中止
                        clearInterval( $intervalID );
                        leftbutton()
                    }else{clearInterval( $intervalID );}}}            // キーコード(どのキーが押されたか)を取得
*/
                    }
            window.addEventListener('keydown', KeyDown, true);
            window.addEventListener('keyup', KeyUp, true);
            var g_bUpPush =false;//上ボタンの検知関数
            var g_bDownPush =false;//下ボタンの検知関数
            var g_bRightPush =false;//右ボタンの検知関数
            var g_bLeftPush =false;//左ボタンの検知関数
            var g_bzPush =false;//zボタンの検知関数
            var g_bxPush =false;//xボタンの検知関数
            var power = 1
            var direction = 0; //heroの向き 1左 0右
            function KeyDown(event) {
                var code = event.keyCode;       // どのキーが押されたか
                switch(code) {
                        // ←キー
                    case 37:
                        g_bLeftPush = true;
                        break;
                        // →キー
                    case 39:
                        g_bRightPush = true;
                        break;
                        // ↑キー
                    case 38:
                        g_bUpPush = true;
                        break;
                        // ↓キー
                    case 40:
                        g_bDownPush = true;
                        bottombutton()
                        break;
                        //zキー
                    case 90:
                        g_bzPush = true;
                        break;
                        //xキー
                    case 88:
                        g_bxPush = true;
                        break;
                }
            }

            /*
                キーを離した時のイベント
             */
            function KeyUp(event) {
                code = event.keyCode;
                switch(code) {
                        // ←キー
                    case 37:
                        g_bLeftPush = false;
                        break;
                    case 39:
                        // →キー
                        g_bRightPush = false;
                        break;
                    case 38:
                        // ↑キー
                        g_bUpPush = false;
                        break;
                    case 40:
                        // ↓キー
                        g_bDownPush = false;
                        break;
                        //zキー
                    case 90:
                        g_bzPush = false;
                        break;
                        //xキー
                    case 88:
                        g_bxPush = false;
                        break;
                }
            }

            (function(){
                // targetを監視してtrueになったら関数を実行
                //上ボタンの検知
                (function observe(){
                    if (g_bUpPush == false) {
                        setTimeout(observe, 192);
                    } else {
                        topbutton()
                        setTimeout(observe, 192);
                    }
                })();
                //右ボタンの検知
                (function observe(){
                    if (g_bRightPush == false) {
                        setTimeout(observe, 96);
                    } else {
                        rightbutton()
                        setTimeout(observe, 96);
                    }
                })();
                //左ボタンの検知
                (function observe(){
                    if (g_bLeftPush == false) {
                        setTimeout(observe, 96);
                    } else {
                        leftbutton()
                        setTimeout(observe, 96);
                    }
                })();
                //zボタンの検知
                (function observe(){
                    if (g_bzPush == false) {
                        setTimeout(observe, 96);
                    } else if(g_bzPush == true && power == 1){
                        power = 0;
                        setTimeout(
                            function(){power = 1}, 1100);
                        console.log(power)
                        win_open();
                        setTimeout(observe, 96);
                    }else{
                        setTimeout(observe, 96);
                    }
                })();
                //xボタンの検知
                (function observe(){
                    if (g_bxPush == false) {
                        setTimeout(observe, 96);
                    } else {
                        win_open2();
                        setTimeout(observe, 96);
                    }
                })();
                //hero&enemyの向きの検知
                (function observe(){
                    var heroleft = Math.round((parseInt($('#maru img').css('left')) / $('.canvas').width())*100)//heroの左側
                    var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                    if (heroleft < enemyleft) {
                        setTimeout(observe, 96);
                        if(direction == 1){
                            direction = 0;
                            $('#maru').children('img').attr('src',"{% static "game/character/right.gif" %}")
                            $('#enemy').children('img').attr('src',"{% static "game/character/enemyleft.gif" %}")
                            setTimeout(observe, 96);
                        }
                    }else{
                        setTimeout(observe, 96);
                        if(direction == 0){
                            direction = 1;
                            $('#maru').children('img').attr('src',"{% static "game/character/left.gif" %}")
                            $('#enemy').children('img').attr('src',"{% static "game/character/enemyright.gif" %}")
                            setTimeout(observe, 96);
                        }
                    }
                })();
            })();





            //パチンコ１発目
            function attack1(){
                var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                var heroleft = Math.round((parseInt($('#maru img').css('left'))) / parseInt($('.canvas').width())*100)//heroの左側
                var herobottom = Math.round((parseInt($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの上側
                var herotop = Math.round((parseInt($('#maru img').css('top'))) / parseInt($('.canvas').height())*100)//heroの下側
                        if(direction == 0){//右向き
                                    $('#patinko1').children('img').attr('src',"{% static "game/heroattack.png" %}")
                $('#patinko1').show();
                $('#patinko1 img').css({'left': heroright+'%'});
                $('#patinko1 img').css({'top': herotop+'%'});
                            var attack = setInterval(function(){
                                var exit = Math.round((parseInt($('#patinko1 img').css('left'))+$('#patinko1 img').width()) /parseInt($('.canvas').width())*100)
                                var w = Math.round((parseInt($('#patinko1 img').css('left'))) /parseInt($('.canvas').width())*100)
                if(contact1 == 1){
                    clearInterval(attack);
                    contact1 = 0;
                }else if(exit <= 95){
                                    w = (parseInt(w) + 1);
                                    $('#patinko1 img').css('left',w+'%').change();
                                }else{
                                    clearInterval(attack);
                                    $('#patinko1').hide();
                                }},30)
                }else{//左向き
                                    $('#patinko1').children('img').attr('src',"{% static "game/heroattackleft.png" %}")
                $('#patinko1').show();
                $('#patinko1 img').css({'left': parseInt(heroleft)-$('#patinko1 img').width()/parseInt($('.canvas').width())*100+'%'});
                $('#patinko1 img').css({'top': herotop+'%'});
                            var attack = setInterval(function(){
                                var exit = Math.round((parseInt($('#patinko1 img').css('left'))+$('#patinko1 img').width()) /parseInt($('.canvas').width())*100)
                                var w = Math.round((parseInt($('#patinko1 img').css('left'))) /parseInt($('.canvas').width())*100)
                 if(contact1 == 1){
                    clearInterval(attack);
                    contact1 = 0;
                }else if(exit >= 0){
                                    w = (parseInt(w) - 1);
                                    $('#patinko1 img').css('left',w+'%').change();
                                }else{
                                    clearInterval(attack);
                                    $('#patinko1').hide();
                                }},30);
                }}
            //パチンコ2発目
            function attack2(){
                var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                var heroleft = Math.round((parseInt($('#maru img').css('left'))) / parseInt($('.canvas').width())*100)//heroの左側
                var herobottom = Math.round((parseInt($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの上側
                var herotop = Math.round((parseInt($('#maru img').css('top'))) / parseInt($('.canvas').height())*100)//heroの下側
                        if(direction == 0){//右向き
                                    $('#patinko2').children('img').attr('src',"{% static "game/heroattack.png" %}")
                $('#patinko2').show();
                $('#patinko2 img').css({'left': heroright+'%'});
                $('#patinko2 img').css({'top': herotop+'%'});
                            var attack = setInterval(function(){
                                var exit = Math.round((parseInt($('#patinko2 img').css('left'))+$('#patinko2 img').width()) /parseInt($('.canvas').width())*100)
                                var w = Math.round((parseInt($('#patinko2 img').css('left'))) /parseInt($('.canvas').width())*100)
                  if(contact2 == 1){
                    clearInterval(attack);
                    contact2 = 0;
                }else if(exit <= 95){
                                    w = (parseInt(w) + 1);
                                    $('#patinko2 img').css('left',w+'%').change();
                                }else{
                                    clearInterval(attack);
                                    $('#patinko2').hide();
                                }},30)
                        }else{//左向き
                                    $('#patinko2').children('img').attr('src',"{% static "game/heroattackleft.png" %}")
                $('#patinko2').show();
                $('#patinko2 img').css({'left': parseInt(heroleft)-$('#patinko2 img').width()/parseInt($('.canvas').width())*100+'%'});
                $('#patinko2 img').css({'top': herotop+'%'});
                            var attack = setInterval(function(){
                                var exit = Math.round((parseInt($('#patinko2 img').css('left'))+$('#patinko2 img').width()) /parseInt($('.canvas').width())*100)
                                var w = Math.round((parseInt($('#patinko2 img').css('left'))) /parseInt($('.canvas').width())*100)
                   if(contact2 == 1){
                    clearInterval(attack);
                    contact2 = 0;
                }else if(exit >= 0){
                                    w = (parseInt(w) - 1);
                                    $('#patinko2 img').css('left',w+'%').change();
                                }else{
                                    clearInterval(attack);
                                    $('#patinko2').hide();
                                }},30);
                }}
            //パチンコ3発目
            function attack3(){
                var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                var heroleft = Math.round((parseInt($('#maru img').css('left'))) / parseInt($('.canvas').width())*100)//heroの左側
                var herobottom = Math.round((parseInt($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの上側
                var herotop = Math.round((parseInt($('#maru img').css('top'))) / parseInt($('.canvas').height())*100)//heroの下側

                    if(direction == 0){//右向き
                                $('#patinko3').children('img').attr('src',"{% static "game/heroattack.png" %}")
                $('#patinko3').show();
                $('#patinko3 img').css({'left': heroright+'%'});
                $('#patinko3 img').css({'top': herotop+'%'});
                        var attack = setInterval(function(){
                            var exit = Math.round((parseInt($('#patinko3 img').css('left'))+$('#patinko3 img').width()) /parseInt($('.canvas').width())*100)
                            var w = Math.round((parseInt($('#patinko3 img').css('left'))) /parseInt($('.canvas').width())*100)
                    if(contact3 == 1){
                    clearInterval(attack);
                    contact3 = 0;
                }else if(exit <= 95){
                                w = (parseInt(w) + 1);
                                $('#patinko3 img').css('left',w+'%').change();
                            }else{
                                clearInterval(attack);
                                $('#patinko3').hide();
                            }},30)
                    }else{//左向き
                                $('#patinko3').children('img').attr('src',"{% static "game/heroattackleft.png" %}")
                $('#patinko3').show();
                $('#patinko3 img').css({'left': parseInt(heroleft)-$('#patinko3 img').width()/parseInt($('.canvas').width())*100+'%'});
                $('#patinko3 img').css({'top': herotop+'%'});
                        var attack = setInterval(function(){
                            var exit = Math.round((parseInt($('#patinko3 img').css('left'))+$('#patinko3 img').width()) /parseInt($('.canvas').width())*100)
                            var w = Math.round((parseInt($('#patinko3 img').css('left'))) /parseInt($('.canvas').width())*100)
                     if(contact3 == 1){
                    clearInterval(attack);
                    contact3 = 0;
                }else if(exit >= 0){
                                w = (parseInt(w) - 1);
                                $('#patinko3 img').css('left',w+'%').change();
                            }else{
                                clearInterval(attack);
                                $('#patinko3').hide();
                            }},30);
                }}
            //パチンコボタンの条件分岐
            var number = 0;
            function win_open(){
                //ボタンのOFFとONの切り替え
                if($('#patinko1').css('display')=='none' && number == 0){
                    number ++
                    $('#action').attr("disabled",true);
                    bullet=setTimeout( function(){
                        $('#action').attr("disabled",false);
                    },1100);
                    //パチンコの発射
                    attack1();
                }else if($('#patinko2').css('display')=='none' && number == 1){
                    number ++
                    $('#action').attr("disabled",true);
                    bullet=setTimeout( function(){
                        $('#action').attr("disabled",false);
                    },1100);
                    attack2();
                }else if($('#patinko3').css('display')=='none' && number == 2){
                    number = 0;
                    $('#action').attr("disabled",true);
                    bullet=setTimeout( function(){
                        $('#action').attr("disabled",false);
                    },1100);
                    attack3();
                }
            }


            //heroの斬撃
            var sword = 0;
            function win_open2(){
                if(sword == 0){
                    var heroright = Math.round((parseInt($('#maru img').css('left'))+$('#maru img').width()) / parseInt($('.canvas').width())*100)//heroの右側
                    var heroleft = Math.round((parseInt($('#maru img').css('left'))) / parseInt($('.canvas').width())*100)//heroの左側
                    var herobottom = Math.round((parseInt($('#maru img').css('top'))+$('#maru img').height()) / parseInt($('.canvas').height())*100)//heroの上側
                    var herotop = Math.round((parseInt($('#maru img').css('top'))) / parseInt($('.canvas').height())*100)//heroの下側
                    if(direction == 0){//右向き
                        $('#herosword').children('img').attr('src',"{% static "game/herosword.png" %}")
                        $('#herosword img').css({'left': heroright+'%'});
                        $('#herosword img').css({'top': herotop+'%'});
                        $('#herosword').show().change();;
                        sword = 1;
                        setTimeout(function(){$('#herosword').hide();sword = 0},300)
                    }else{//左向き
                        $('#herosword').children('img').attr('src',"{% static "game/heroswordleft.png" %}")
                        $('#herosword img').css({'left': String(parseInt(heroleft)-$('#herosword img').width()/parseInt($('.canvas').width())*100)+'%'});
                        $('#herosword img').css({'top': herotop+'%'});
                        $('#herosword').show().change();;
                        sword = 1;
                        setTimeout(function(){$('#herosword').hide();sword = 0},300)
                    }
                }
            }

            //ダメージ計算
            var contact1 = 0;
            var contact2 = 0;
            var contact3 = 0;
            $(function(){
                $('#patinko1').change(function(){
                    var patinkoright = Math.round((parseInt($('#patinko1 img').css('left'))+$('#patinko1 img').width()) / parseInt($('.canvas').width())*100)//patinkoの右側
                    var patinkoleft = Math.round((parseInt($('#patinko1 img').css('left'))) / parseInt($('.canvas').width())*100)//patinkoの左側
                    var patinkobottom = Math.round((parseInt($('#patinko1 img').css('top'))+$('#patinko1 img').height()) / parseInt($('.canvas').height())*100)//patinkoの下側
                    var patinkotop = Math.round((parseInt($('#patinko1 img').css('top'))) / parseInt($('.canvas').height())*100)//patinkoの上側
                    var patinkocenterx = (parseInt(patinkoright) +parseInt (patinkoleft)) / 2//patinkoのx軸の中心
                    var patinkocentery = (parseInt(patinkotop) +parseInt (patinkobottom)) / 2//patinkoのy軸の中心
                    var enemytop = Math.round((parseInt($('#enemy img').css('top')) / $('.canvas').height())*100)//enemyの左側
                    var enemybottom = Math.round((parseInt($('#enemy img').css('top'))+$('#enemy img').height()) / parseInt($('.canvas').height())*100)//enemyの右側
                    var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                    var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                    if(patinkocenterx > enemyleft && patinkocenterx < enemyright && patinkocentery < enemybottom && patinkocentery > enemytop){
                        var damage = $('#enemy-meter').val();
                        damage = damage - 20;
                        $('#enemy-meter').val(damage).change();
                        contact1 = 1;
                        $('#patinko1').hide();
                    }
                });
                $('#patinko2').change(function(){
                    var patinkoright = Math.round((parseInt($('#patinko2 img').css('left'))+$('#patinko2 img').width()) / parseInt($('.canvas').width())*100)//patinkoの右側
                    var patinkoleft = Math.round((parseInt($('#patinko2 img').css('left'))) / parseInt($('.canvas').width())*100)//patinkoの左側
                    var patinkobottom = Math.round((parseInt($('#patinko2 img').css('top'))+$('#patinko2 img').height()) / parseInt($('.canvas').height())*100)//patinkoの下側
                    var patinkotop = Math.round((parseInt($('#patinko2 img').css('top'))) / parseInt($('.canvas').height())*100)//patinkoの上側
                    var patinkocenterx = (parseInt(patinkoright) +parseInt (patinkoleft)) / 2//patinkoのx軸の中心
                    var patinkocentery = (parseInt(patinkotop) +parseInt (patinkobottom)) / 2//patinkoのy軸の中心
                    var enemytop = Math.round((parseInt($('#enemy img').css('top')) / $('.canvas').height())*100)//enemyの左側
                    var enemybottom = Math.round((parseInt($('#enemy img').css('top'))+$('#enemy img').height()) / parseInt($('.canvas').height())*100)//enemyの右側
                    var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                    var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                    if(patinkocenterx > enemyleft && patinkocenterx < enemyright && patinkocentery < enemybottom && patinkocentery > enemytop){
                        var damage = $('#enemy-meter').val();
                        damage = damage - 20;
                        $('#enemy-meter').val(damage).change();
                        contact2 = 1;
                        $('#patinko2').hide();
                    }
                });
                $('#patinko3').change(function(){
                    var patinkoright = Math.round((parseInt($('#patinko3 img').css('left'))+$('#patinko3 img').width()) / parseInt($('.canvas').width())*100)//patinkoの右側
                    var patinkoleft = Math.round((parseInt($('#patinko3 img').css('left'))) / parseInt($('.canvas').width())*100)//patinkoの左側
                    var patinkobottom = Math.round((parseInt($('#patinko3 img').css('top'))+$('#patinko3 img').height()) / parseInt($('.canvas').height())*100)//patinkoの下側
                    var patinkotop = Math.round((parseInt($('#patinko3 img').css('top'))) / parseInt($('.canvas').height())*100)//patinkoの上側
                    var patinkocenterx = (parseInt(patinkoright) +parseInt (patinkoleft)) / 2//patinkoのx軸の中心
                    var patinkocentery = (parseInt(patinkotop) +parseInt (patinkobottom)) / 2//patinkoのy軸の中心
                    var enemytop = Math.round((parseInt($('#enemy img').css('top')) / $('.canvas').height())*100)//enemyの左側
                    var enemybottom = Math.round((parseInt($('#enemy img').css('top'))+$('#enemy img').height()) / parseInt($('.canvas').height())*100)//enemyの右側
                    var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                    var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                    if(patinkocenterx > enemyleft && patinkocenterx < enemyright && patinkocentery < enemybottom && patinkocentery > enemytop){
                        var damage = $('#enemy-meter').val();
                        damage = damage - 20;
                        $('#enemy-meter').val(damage).change();
                        contact3 = 1;
                        $('#patinko3').hide();
                    }
                });
                $('#herosword') .change(function(){
                    var patinkoright = Math.round((parseInt($('#herosword img').css('left'))+$('#herosword img').width()) / parseInt($('.canvas').width())*100)//patinkoの右側
                    var patinkoleft = Math.round((parseInt($('#herosword img').css('left'))) / parseInt($('.canvas').width())*100)//patinkoの左側
                    var patinkobottom = Math.round((parseInt($('#herosword img').css('top'))+$('#herosword img').height()) / parseInt($('.canvas').height())*100)//patinkoの下側
                    var patinkotop = Math.round((parseInt($('#herosword img').css('top'))) / parseInt($('.canvas').height())*100)//patinkoの上側
                    var patinkocenterx = (parseInt(patinkoright) +parseInt (patinkoleft)) / 2//patinkoのx軸の中心
                    var patinkocentery = (parseInt(patinkotop) +parseInt (patinkobottom)) / 2//patinkoのy軸の中心
                    var enemytop = Math.round((parseInt($('#enemy img').css('top')) / $('.canvas').height())*100)//enemyの左側
                    var enemybottom = Math.round((parseInt($('#enemy img').css('top'))+$('#enemy img').height()) / parseInt($('.canvas').height())*100)//enemyの右側
                    var enemyleft = Math.round((parseInt($('#enemy img').css('left')) / $('.canvas').width())*100)//enemyの左側
                    var enemyright = Math.round((parseInt($('#enemy img').css('left'))+$('#enemy img').width()) / parseInt($('.canvas').width())*100)//enemyの右側
                    if(patinkocenterx > enemyleft && patinkocenterx < enemyright && patinkocentery < enemybottom && patinkocentery > enemytop){
                        var damage = $('#enemy-meter').val();
                        damage = damage - 20;
                        $('#enemy-meter').val(damage).change();
                    }
                });

            });
        </script>
    </head>
    <body>
        <div id='back'>
            <div  id='pageplaying'>
                <div id='hpbar'>
                    <div id='hp1'><p>リト</p><meter id='hero-meter' max='200' low='40' high='140' optimum='200' value='200'></div>
                    <div id='hp2'><p>BOSS</p><meter id='enemy-meter' max='200' low='40' high='140' optimum='200' value='200'></div>
                    <div id='vs'><p>VS</p></div>
                </div>
                <div id='wall'>
                    <img src="{% static "game/4-6wall.png" %}">
                </div>
                <div class="canvas">
                    <div id="maru">
                        <img src="{% static "game/character/right.gif" %}" name="maru">
                    </div>
                    <div id="enemy">
                        <img src="{% static "game/character/enemyleft.gif" %}" name='enemy'>
                    </div>
                    <div id="patinko1">
                        <img src="{% static "game/heroattack.png" %}" disabled>
                    </div>
                    <div id="patinko2">
                        <img src="{% static "game/heroattack.png" %}" disabled>
                    </div>
                    <div id="patinko3">
                        <img src="{% static "game/heroattack.png" %}" disabled>
                    </div>
                    <div id="herosword">
                        <img src="{% static "game/herosword.png" %}" disabled>
                    </div>
                </div>
                <div id="canvas1"></div>
            </div>
            <!--            <div id='button' class="cross-layout">
                <button id="top"onclick="top" >￪</button>
                <button id="left" >￩</button>
                <button id="bottom" >￬</button>
                <button id="right" >￫</button>
                <input type="text" id="input1" autocomplete="off" value="2 2"> 
                <input type="submit" id="action" value="パチンコ" onclick="win_open()" disabled>
                </div>   -->
        </div>
        </div>
        </div>
    </body>
</html>
