<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">ここは・・どこだ・・・？</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">だれか助けて！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">あ、妖精がおそわれてる！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">それにこの声どこかで・・・</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}">とりあえず助けてあげよう！</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">こうげきボタンを押して敵を倒して！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">スタートボタンを押したら始まるよ！</p>
    </div>
  </body>
</html>
