<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story-boss.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">ついにボスの城に入れるね・・・</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">えぇ、でも入る時に4つの試練を乗り越えないといけないわ！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">でもオーブを4つ手に入れたリトなら乗り越えられるはず！</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">今までやってきたことを思い出しながらいきましょう！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}">うん！　がんばるよ！</p>
    </div>
  </body>
</html>
