<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/nextstory4-6.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">やったわリト！　ボーンスレイヤーをたおした！</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">なんとかたおせた・・・。</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">とりあえず、オーブが４つそろったわ。</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/fairy.png' %}">これでようやくボスの城に入れる。</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}">ついにボスと戦うんだね・・・</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">えぇ、ボスはさっきのボーンスレイヤーより強い。</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/fairy.png' %}">でも大丈夫！　リトならきっとたおせる！　さぁ、行きましょう！</p>
    </div>
  </body>
</html>
