<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story-boss2.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/rito.png' %}">!!!</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/rito.png' %}">なんだこれ！？</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/fairy.png' %}">これは魔法の壁よ。これはオーブを持つものしか通れないの。</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">じゃあぼくたちは通れるんだね！</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/fairy.png' %}">いいえ、あと一つここを通る資格が必要。</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">それはリトがここまで学んできたことよ！</p>
        <p class="text7" id="text7Id"><img src="{% static 'game/rito.png' %}">この島にきてたくさん学んだもんね・・・僕がんばるよ！</p>
        <p class="text8" id="text8Id"><img src="{% static 'game/fairy.png' %}">[すすむ！]ボタンを押すとクイズが出てくるわ！</p>
        <p class="text9" id="text9Id"><img src="{% static 'game/fairy.png' %}">正解だと思う方をえらんでカベをやぶって、前にすすみましょう！</p>


    </div>
  </body>
</html>
