<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game3-3.css' %}">
        <script type="text/javascript" src="{% static 'js/game3-3.js' %}"></script>
    </head>
    <body>
			<div class="box">
				<p>呪文:<input method="post" type="text" name="password" size="40" id="jumon"></p>
				<input type="submit" value="唱える" onclick="check();">
				<div id="button">
					<a href="http://localhost:8080/stage3-3/nextstory3-3" target="story3-3" ><button id="next" style="width:100px;height:50px"><font size="4">Next</font></button></a>
				</div>
			</div>
    </body>
</html>
