<!DOQTYPE HTML>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/game3-3.css' %}">
        <script type="text/javascript" src="{% static 'js/game3-3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<div class="kyoku"><iframe id="music" src="" ></iframe></div>
    </head>
    <body oncontextmenu="return false;"onload="load();">
			<button onclick="start();" id="start">スタート</button>
		 <div id="yatta">
				<img src="{% static 'game/clear-window.gif' %}" id="clear-window">
				<a href="http://localhost:8080/stage3-3/nextstory3-3/" target="story3-3"><button onclick="mapclick2(10);" id="clear">次の話</button></a>
			</div>
			<div id="back">
				<div id="box">
					<p id="timer">30</p>
					<div id="item">
						<img src="{%static 'game/orbpice3.png'%}" id="pice1">
						<img src="{%static 'game/orbpice1.png'%}" id="pice2">
						<img src="{%static 'game/orbpice4.png'%}" id="pice3">
						<img src="{%static 'game/orbpice2.png'%}" id="pice4">
					</div>

					<!--!>一回目の入力<!--!>
					<div id="input">
						<p>呪文:<input method="post" type="text" name="password" size="40" id="jumon"></p>
						<input id="in" type="submit" value="唱える" onclick="check();se()">
					</div>
					<!--!><!--!>

			 		<!--!>二回目の入力<!--!>
					<div id="input2">
						<p>呪文:<input method="post" type="text" name="password" size="40" id="jumon2"></p>
						<input type="submit" value="唱える" onclick="check2();se()">
					</div>

				</div>
			</div>
	<script>
		roop();
		function roop(){
			document.getElementById("music").src="{% static 'sound/3-3.m4a' %}";
			setTimeout(roop, 130000);
		}
	</script>
    </body>
</html>
