<!DOCTYPE html>
<!--
呪文↓
44GZ44GU44GEIeOCiOOBj+OCj+OBi+OBo+OBn+OBrQ==
-->
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" typw="text/css" href="{% static 'css/mori.css' %}">


    <title>3-3 始まりの森</title>
  </head>
  <frameset rows="65,*"border="5"bordercolor="#000">
    <frame src="head3-3">
    <frameset cols="50%,50%">
      <frame src="story3-3" name="story3-3">
      <frame src="game3-3" name="game3-3">
    </frameset>
  </frameset>
	<body></body>
</html>
