<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/story4-5.css" %}" />
    <div class="textboard">
        <p class="text1" id="text1Id"><img src="{% static 'game/fairy.png' %}">!!!</p>
        <p class="text2" id="text2Id"><img src="{% static 'game/fairy.png' %}">リト、あのトビラをあけたらオーブがあるはずよ！</p>
        <p class="text3" id="text3Id"><img src="{% static 'game/rito.png' %}">ほんとうに！？</p>
        <p class="text4" id="text4Id"><img src="{% static 'game/rito.png' %}">でも、どうやって開けよう・・・</p>
        <p class="text5" id="text5Id"><img src="{% static 'game/rito.png' %}">今回のはパスワードではなさそうだし・・・</p>
        <p class="text6" id="text6Id"><img src="{% static 'game/fairy.png' %}">とりあえずあのトビラを調べてみましょう！</p>
    </div>
  </body>
</html>
